[submodule "cores/general-cores"]
	path = cores/general-cores
	url = git://ohwr.org/hdl-core-lib/general-cores.git
[submodule "cores/hdl-make"]
	path = cores/hdl-make
	url = git://ohwr.org/misc/hdl-make.git
[submodule "cores/wishbone-gen"]
	path = cores/wishbone-gen
	url = git://ohwr.org/hdl-core-lib/wishbone-gen.git
[submodule "cores/wr-cores"]
	path = cores/wr-cores
	url = git://ohwr.org/hdl-core-lib/wr-cores.git
[submodule "cores/fpga-pcie-drivers"]
	path = cores/fpga-pcie-drivers
	url = git://github.com/lerwys/FPGA_PCIe_drivers.git
[submodule "cores/wrpc-sw"]
	path = cores/wrpc-sw
	url = git://ohwr.org/hdl-core-lib/wr-cores/wrpc-sw.git
