//! **************************************************************************
// Written by: Map M.63c on Thu Feb 24 22:58:27 2011
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "K14" LEVEL 1;
COMP "rst" LOCATE = SITE "B14" LEVEL 1;
COMP "led<0>" LOCATE = SITE "A14" LEVEL 1;
COMP "led<1>" LOCATE = SITE "C13" LEVEL 1;
COMP "led<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<3>" LOCATE = SITE "D12" LEVEL 1;
COMP "led<4>" LOCATE = SITE "F10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "E10" LEVEL 1;
COMP "led<7>" LOCATE = SITE "C10" LEVEL 1;
PIN SOC/LM32/cpu/multiplier/Mmult_n00232_pins<92> = BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00232" PINNAME CLK;
PIN SOC/LM32/cpu/multiplier/Mmult_n0023_pins<110> = BEL
        "SOC/LM32/cpu/multiplier/Mmult_n0023" PINNAME CLK;
PIN
        SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN SOC/LM32/cpu/multiplier/Mmult_n00231_pins<110> = BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00231" PINNAME CLK;
TIMEGRP clk = BEL "SOC/arbiter/selected_FSM_FFd1" BEL
        "SOC/arbiter/selected_FSM_FFd2" BEL "SOC/LM32/cpu/bus_error_x" BEL
        "SOC/LM32/cpu/branch_target_m_31" BEL
        "SOC/LM32/cpu/branch_target_m_30" BEL
        "SOC/LM32/cpu/branch_target_m_29" BEL
        "SOC/LM32/cpu/branch_target_m_28" BEL
        "SOC/LM32/cpu/branch_target_m_27" BEL
        "SOC/LM32/cpu/branch_target_m_26" BEL
        "SOC/LM32/cpu/branch_target_m_25" BEL
        "SOC/LM32/cpu/branch_target_m_24" BEL
        "SOC/LM32/cpu/branch_target_m_23" BEL
        "SOC/LM32/cpu/branch_target_m_22" BEL
        "SOC/LM32/cpu/branch_target_m_21" BEL
        "SOC/LM32/cpu/branch_target_m_20" BEL
        "SOC/LM32/cpu/branch_target_m_19" BEL
        "SOC/LM32/cpu/branch_target_m_18" BEL
        "SOC/LM32/cpu/branch_target_m_17" BEL
        "SOC/LM32/cpu/branch_target_m_16" BEL
        "SOC/LM32/cpu/branch_target_m_15" BEL
        "SOC/LM32/cpu/branch_target_m_14" BEL
        "SOC/LM32/cpu/branch_target_m_13" BEL
        "SOC/LM32/cpu/branch_target_m_12" BEL
        "SOC/LM32/cpu/branch_target_m_11" BEL
        "SOC/LM32/cpu/branch_target_m_10" BEL "SOC/LM32/cpu/branch_target_m_9"
        BEL "SOC/LM32/cpu/branch_target_m_8" BEL
        "SOC/LM32/cpu/branch_target_m_7" BEL "SOC/LM32/cpu/branch_target_m_6"
        BEL "SOC/LM32/cpu/branch_target_m_5" BEL
        "SOC/LM32/cpu/branch_target_m_4" BEL "SOC/LM32/cpu/branch_target_m_3"
        BEL "SOC/LM32/cpu/branch_target_m_2" BEL
        "SOC/LM32/cpu/branch_target_x_31" BEL
        "SOC/LM32/cpu/branch_target_x_30" BEL
        "SOC/LM32/cpu/branch_target_x_29" BEL
        "SOC/LM32/cpu/branch_target_x_28" BEL
        "SOC/LM32/cpu/branch_target_x_27" BEL
        "SOC/LM32/cpu/branch_target_x_26" BEL
        "SOC/LM32/cpu/branch_target_x_25" BEL
        "SOC/LM32/cpu/branch_target_x_24" BEL
        "SOC/LM32/cpu/branch_target_x_23" BEL
        "SOC/LM32/cpu/branch_target_x_22" BEL
        "SOC/LM32/cpu/branch_target_x_21" BEL
        "SOC/LM32/cpu/branch_target_x_20" BEL
        "SOC/LM32/cpu/branch_target_x_19" BEL
        "SOC/LM32/cpu/branch_target_x_18" BEL
        "SOC/LM32/cpu/branch_target_x_17" BEL
        "SOC/LM32/cpu/branch_target_x_16" BEL
        "SOC/LM32/cpu/branch_target_x_15" BEL
        "SOC/LM32/cpu/branch_target_x_14" BEL
        "SOC/LM32/cpu/branch_target_x_13" BEL
        "SOC/LM32/cpu/branch_target_x_12" BEL
        "SOC/LM32/cpu/branch_target_x_11" BEL
        "SOC/LM32/cpu/branch_target_x_10" BEL "SOC/LM32/cpu/branch_target_x_9"
        BEL "SOC/LM32/cpu/branch_target_x_8" BEL
        "SOC/LM32/cpu/branch_target_x_7" BEL "SOC/LM32/cpu/branch_target_x_6"
        BEL "SOC/LM32/cpu/branch_target_x_5" BEL
        "SOC/LM32/cpu/branch_target_x_4" BEL "SOC/LM32/cpu/branch_target_x_3"
        BEL "SOC/LM32/cpu/branch_target_x_2" BEL
        "SOC/LM32/cpu/registers_31_1023" BEL "SOC/LM32/cpu/registers_31_1022"
        BEL "SOC/LM32/cpu/registers_31_1021" BEL
        "SOC/LM32/cpu/registers_31_1020" BEL "SOC/LM32/cpu/registers_31_1019"
        BEL "SOC/LM32/cpu/registers_31_1018" BEL
        "SOC/LM32/cpu/registers_31_1017" BEL "SOC/LM32/cpu/registers_31_1016"
        BEL "SOC/LM32/cpu/registers_31_1015" BEL
        "SOC/LM32/cpu/registers_31_1014" BEL "SOC/LM32/cpu/registers_31_1013"
        BEL "SOC/LM32/cpu/registers_31_1012" BEL
        "SOC/LM32/cpu/registers_31_1011" BEL "SOC/LM32/cpu/registers_31_1010"
        BEL "SOC/LM32/cpu/registers_31_1009" BEL
        "SOC/LM32/cpu/registers_31_1008" BEL "SOC/LM32/cpu/registers_31_1007"
        BEL "SOC/LM32/cpu/registers_31_1006" BEL
        "SOC/LM32/cpu/registers_31_1005" BEL "SOC/LM32/cpu/registers_31_1004"
        BEL "SOC/LM32/cpu/registers_31_1003" BEL
        "SOC/LM32/cpu/registers_31_1002" BEL "SOC/LM32/cpu/registers_31_1001"
        BEL "SOC/LM32/cpu/registers_31_1000" BEL
        "SOC/LM32/cpu/registers_31_999" BEL "SOC/LM32/cpu/registers_31_998"
        BEL "SOC/LM32/cpu/registers_31_997" BEL
        "SOC/LM32/cpu/registers_31_996" BEL "SOC/LM32/cpu/registers_31_995"
        BEL "SOC/LM32/cpu/registers_31_994" BEL
        "SOC/LM32/cpu/registers_31_993" BEL "SOC/LM32/cpu/registers_31_992"
        BEL "SOC/LM32/cpu/registers_31_991" BEL
        "SOC/LM32/cpu/registers_31_990" BEL "SOC/LM32/cpu/registers_31_989"
        BEL "SOC/LM32/cpu/registers_31_988" BEL
        "SOC/LM32/cpu/registers_31_987" BEL "SOC/LM32/cpu/registers_31_986"
        BEL "SOC/LM32/cpu/registers_31_985" BEL
        "SOC/LM32/cpu/registers_31_984" BEL "SOC/LM32/cpu/registers_31_983"
        BEL "SOC/LM32/cpu/registers_31_982" BEL
        "SOC/LM32/cpu/registers_31_981" BEL "SOC/LM32/cpu/registers_31_980"
        BEL "SOC/LM32/cpu/registers_31_979" BEL
        "SOC/LM32/cpu/registers_31_978" BEL "SOC/LM32/cpu/registers_31_977"
        BEL "SOC/LM32/cpu/registers_31_976" BEL
        "SOC/LM32/cpu/registers_31_975" BEL "SOC/LM32/cpu/registers_31_974"
        BEL "SOC/LM32/cpu/registers_31_973" BEL
        "SOC/LM32/cpu/registers_31_972" BEL "SOC/LM32/cpu/registers_31_971"
        BEL "SOC/LM32/cpu/registers_31_970" BEL
        "SOC/LM32/cpu/registers_31_969" BEL "SOC/LM32/cpu/registers_31_968"
        BEL "SOC/LM32/cpu/registers_31_967" BEL
        "SOC/LM32/cpu/registers_31_966" BEL "SOC/LM32/cpu/registers_31_965"
        BEL "SOC/LM32/cpu/registers_31_964" BEL
        "SOC/LM32/cpu/registers_31_963" BEL "SOC/LM32/cpu/registers_31_962"
        BEL "SOC/LM32/cpu/registers_31_961" BEL
        "SOC/LM32/cpu/registers_31_960" BEL "SOC/LM32/cpu/registers_31_959"
        BEL "SOC/LM32/cpu/registers_31_958" BEL
        "SOC/LM32/cpu/registers_31_957" BEL "SOC/LM32/cpu/registers_31_956"
        BEL "SOC/LM32/cpu/registers_31_955" BEL
        "SOC/LM32/cpu/registers_31_954" BEL "SOC/LM32/cpu/registers_31_953"
        BEL "SOC/LM32/cpu/registers_31_952" BEL
        "SOC/LM32/cpu/registers_31_951" BEL "SOC/LM32/cpu/registers_31_950"
        BEL "SOC/LM32/cpu/registers_31_949" BEL
        "SOC/LM32/cpu/registers_31_948" BEL "SOC/LM32/cpu/registers_31_947"
        BEL "SOC/LM32/cpu/registers_31_946" BEL
        "SOC/LM32/cpu/registers_31_945" BEL "SOC/LM32/cpu/registers_31_944"
        BEL "SOC/LM32/cpu/registers_31_943" BEL
        "SOC/LM32/cpu/registers_31_942" BEL "SOC/LM32/cpu/registers_31_941"
        BEL "SOC/LM32/cpu/registers_31_940" BEL
        "SOC/LM32/cpu/registers_31_939" BEL "SOC/LM32/cpu/registers_31_938"
        BEL "SOC/LM32/cpu/registers_31_937" BEL
        "SOC/LM32/cpu/registers_31_936" BEL "SOC/LM32/cpu/registers_31_935"
        BEL "SOC/LM32/cpu/registers_31_934" BEL
        "SOC/LM32/cpu/registers_31_933" BEL "SOC/LM32/cpu/registers_31_932"
        BEL "SOC/LM32/cpu/registers_31_931" BEL
        "SOC/LM32/cpu/registers_31_930" BEL "SOC/LM32/cpu/registers_31_929"
        BEL "SOC/LM32/cpu/registers_31_928" BEL
        "SOC/LM32/cpu/registers_31_927" BEL "SOC/LM32/cpu/registers_31_926"
        BEL "SOC/LM32/cpu/registers_31_925" BEL
        "SOC/LM32/cpu/registers_31_924" BEL "SOC/LM32/cpu/registers_31_923"
        BEL "SOC/LM32/cpu/registers_31_922" BEL
        "SOC/LM32/cpu/registers_31_921" BEL "SOC/LM32/cpu/registers_31_920"
        BEL "SOC/LM32/cpu/registers_31_919" BEL
        "SOC/LM32/cpu/registers_31_918" BEL "SOC/LM32/cpu/registers_31_917"
        BEL "SOC/LM32/cpu/registers_31_916" BEL
        "SOC/LM32/cpu/registers_31_915" BEL "SOC/LM32/cpu/registers_31_914"
        BEL "SOC/LM32/cpu/registers_31_913" BEL
        "SOC/LM32/cpu/registers_31_912" BEL "SOC/LM32/cpu/registers_31_911"
        BEL "SOC/LM32/cpu/registers_31_910" BEL
        "SOC/LM32/cpu/registers_31_909" BEL "SOC/LM32/cpu/registers_31_908"
        BEL "SOC/LM32/cpu/registers_31_907" BEL
        "SOC/LM32/cpu/registers_31_906" BEL "SOC/LM32/cpu/registers_31_905"
        BEL "SOC/LM32/cpu/registers_31_904" BEL
        "SOC/LM32/cpu/registers_31_903" BEL "SOC/LM32/cpu/registers_31_902"
        BEL "SOC/LM32/cpu/registers_31_901" BEL
        "SOC/LM32/cpu/registers_31_900" BEL "SOC/LM32/cpu/registers_31_899"
        BEL "SOC/LM32/cpu/registers_31_898" BEL
        "SOC/LM32/cpu/registers_31_897" BEL "SOC/LM32/cpu/registers_31_896"
        BEL "SOC/LM32/cpu/registers_31_895" BEL
        "SOC/LM32/cpu/registers_31_894" BEL "SOC/LM32/cpu/registers_31_893"
        BEL "SOC/LM32/cpu/registers_31_892" BEL
        "SOC/LM32/cpu/registers_31_891" BEL "SOC/LM32/cpu/registers_31_890"
        BEL "SOC/LM32/cpu/registers_31_889" BEL
        "SOC/LM32/cpu/registers_31_888" BEL "SOC/LM32/cpu/registers_31_887"
        BEL "SOC/LM32/cpu/registers_31_886" BEL
        "SOC/LM32/cpu/registers_31_885" BEL "SOC/LM32/cpu/registers_31_884"
        BEL "SOC/LM32/cpu/registers_31_883" BEL
        "SOC/LM32/cpu/registers_31_882" BEL "SOC/LM32/cpu/registers_31_881"
        BEL "SOC/LM32/cpu/registers_31_880" BEL
        "SOC/LM32/cpu/registers_31_879" BEL "SOC/LM32/cpu/registers_31_878"
        BEL "SOC/LM32/cpu/registers_31_877" BEL
        "SOC/LM32/cpu/registers_31_876" BEL "SOC/LM32/cpu/registers_31_875"
        BEL "SOC/LM32/cpu/registers_31_874" BEL
        "SOC/LM32/cpu/registers_31_873" BEL "SOC/LM32/cpu/registers_31_872"
        BEL "SOC/LM32/cpu/registers_31_871" BEL
        "SOC/LM32/cpu/registers_31_870" BEL "SOC/LM32/cpu/registers_31_869"
        BEL "SOC/LM32/cpu/registers_31_868" BEL
        "SOC/LM32/cpu/registers_31_867" BEL "SOC/LM32/cpu/registers_31_866"
        BEL "SOC/LM32/cpu/registers_31_865" BEL
        "SOC/LM32/cpu/registers_31_864" BEL "SOC/LM32/cpu/registers_31_863"
        BEL "SOC/LM32/cpu/registers_31_862" BEL
        "SOC/LM32/cpu/registers_31_861" BEL "SOC/LM32/cpu/registers_31_860"
        BEL "SOC/LM32/cpu/registers_31_859" BEL
        "SOC/LM32/cpu/registers_31_858" BEL "SOC/LM32/cpu/registers_31_857"
        BEL "SOC/LM32/cpu/registers_31_856" BEL
        "SOC/LM32/cpu/registers_31_855" BEL "SOC/LM32/cpu/registers_31_854"
        BEL "SOC/LM32/cpu/registers_31_853" BEL
        "SOC/LM32/cpu/registers_31_852" BEL "SOC/LM32/cpu/registers_31_851"
        BEL "SOC/LM32/cpu/registers_31_850" BEL
        "SOC/LM32/cpu/registers_31_849" BEL "SOC/LM32/cpu/registers_31_848"
        BEL "SOC/LM32/cpu/registers_31_847" BEL
        "SOC/LM32/cpu/registers_31_846" BEL "SOC/LM32/cpu/registers_31_845"
        BEL "SOC/LM32/cpu/registers_31_844" BEL
        "SOC/LM32/cpu/registers_31_843" BEL "SOC/LM32/cpu/registers_31_842"
        BEL "SOC/LM32/cpu/registers_31_841" BEL
        "SOC/LM32/cpu/registers_31_840" BEL "SOC/LM32/cpu/registers_31_839"
        BEL "SOC/LM32/cpu/registers_31_838" BEL
        "SOC/LM32/cpu/registers_31_837" BEL "SOC/LM32/cpu/registers_31_836"
        BEL "SOC/LM32/cpu/registers_31_835" BEL
        "SOC/LM32/cpu/registers_31_834" BEL "SOC/LM32/cpu/registers_31_833"
        BEL "SOC/LM32/cpu/registers_31_832" BEL
        "SOC/LM32/cpu/registers_31_831" BEL "SOC/LM32/cpu/registers_31_830"
        BEL "SOC/LM32/cpu/registers_31_829" BEL
        "SOC/LM32/cpu/registers_31_828" BEL "SOC/LM32/cpu/registers_31_827"
        BEL "SOC/LM32/cpu/registers_31_826" BEL
        "SOC/LM32/cpu/registers_31_825" BEL "SOC/LM32/cpu/registers_31_824"
        BEL "SOC/LM32/cpu/registers_31_823" BEL
        "SOC/LM32/cpu/registers_31_822" BEL "SOC/LM32/cpu/registers_31_821"
        BEL "SOC/LM32/cpu/registers_31_820" BEL
        "SOC/LM32/cpu/registers_31_819" BEL "SOC/LM32/cpu/registers_31_818"
        BEL "SOC/LM32/cpu/registers_31_817" BEL
        "SOC/LM32/cpu/registers_31_816" BEL "SOC/LM32/cpu/registers_31_815"
        BEL "SOC/LM32/cpu/registers_31_814" BEL
        "SOC/LM32/cpu/registers_31_813" BEL "SOC/LM32/cpu/registers_31_812"
        BEL "SOC/LM32/cpu/registers_31_811" BEL
        "SOC/LM32/cpu/registers_31_810" BEL "SOC/LM32/cpu/registers_31_809"
        BEL "SOC/LM32/cpu/registers_31_808" BEL
        "SOC/LM32/cpu/registers_31_807" BEL "SOC/LM32/cpu/registers_31_806"
        BEL "SOC/LM32/cpu/registers_31_805" BEL
        "SOC/LM32/cpu/registers_31_804" BEL "SOC/LM32/cpu/registers_31_803"
        BEL "SOC/LM32/cpu/registers_31_802" BEL
        "SOC/LM32/cpu/registers_31_801" BEL "SOC/LM32/cpu/registers_31_800"
        BEL "SOC/LM32/cpu/registers_31_799" BEL
        "SOC/LM32/cpu/registers_31_798" BEL "SOC/LM32/cpu/registers_31_797"
        BEL "SOC/LM32/cpu/registers_31_796" BEL
        "SOC/LM32/cpu/registers_31_795" BEL "SOC/LM32/cpu/registers_31_794"
        BEL "SOC/LM32/cpu/registers_31_793" BEL
        "SOC/LM32/cpu/registers_31_792" BEL "SOC/LM32/cpu/registers_31_791"
        BEL "SOC/LM32/cpu/registers_31_790" BEL
        "SOC/LM32/cpu/registers_31_789" BEL "SOC/LM32/cpu/registers_31_788"
        BEL "SOC/LM32/cpu/registers_31_787" BEL
        "SOC/LM32/cpu/registers_31_786" BEL "SOC/LM32/cpu/registers_31_785"
        BEL "SOC/LM32/cpu/registers_31_784" BEL
        "SOC/LM32/cpu/registers_31_783" BEL "SOC/LM32/cpu/registers_31_782"
        BEL "SOC/LM32/cpu/registers_31_781" BEL
        "SOC/LM32/cpu/registers_31_780" BEL "SOC/LM32/cpu/registers_31_779"
        BEL "SOC/LM32/cpu/registers_31_778" BEL
        "SOC/LM32/cpu/registers_31_777" BEL "SOC/LM32/cpu/registers_31_776"
        BEL "SOC/LM32/cpu/registers_31_775" BEL
        "SOC/LM32/cpu/registers_31_774" BEL "SOC/LM32/cpu/registers_31_773"
        BEL "SOC/LM32/cpu/registers_31_772" BEL
        "SOC/LM32/cpu/registers_31_771" BEL "SOC/LM32/cpu/registers_31_770"
        BEL "SOC/LM32/cpu/registers_31_769" BEL
        "SOC/LM32/cpu/registers_31_768" BEL "SOC/LM32/cpu/registers_31_767"
        BEL "SOC/LM32/cpu/registers_31_766" BEL
        "SOC/LM32/cpu/registers_31_765" BEL "SOC/LM32/cpu/registers_31_764"
        BEL "SOC/LM32/cpu/registers_31_763" BEL
        "SOC/LM32/cpu/registers_31_762" BEL "SOC/LM32/cpu/registers_31_761"
        BEL "SOC/LM32/cpu/registers_31_760" BEL
        "SOC/LM32/cpu/registers_31_759" BEL "SOC/LM32/cpu/registers_31_758"
        BEL "SOC/LM32/cpu/registers_31_757" BEL
        "SOC/LM32/cpu/registers_31_756" BEL "SOC/LM32/cpu/registers_31_755"
        BEL "SOC/LM32/cpu/registers_31_754" BEL
        "SOC/LM32/cpu/registers_31_753" BEL "SOC/LM32/cpu/registers_31_752"
        BEL "SOC/LM32/cpu/registers_31_751" BEL
        "SOC/LM32/cpu/registers_31_750" BEL "SOC/LM32/cpu/registers_31_749"
        BEL "SOC/LM32/cpu/registers_31_748" BEL
        "SOC/LM32/cpu/registers_31_747" BEL "SOC/LM32/cpu/registers_31_746"
        BEL "SOC/LM32/cpu/registers_31_745" BEL
        "SOC/LM32/cpu/registers_31_744" BEL "SOC/LM32/cpu/registers_31_743"
        BEL "SOC/LM32/cpu/registers_31_742" BEL
        "SOC/LM32/cpu/registers_31_741" BEL "SOC/LM32/cpu/registers_31_740"
        BEL "SOC/LM32/cpu/registers_31_739" BEL
        "SOC/LM32/cpu/registers_31_738" BEL "SOC/LM32/cpu/registers_31_737"
        BEL "SOC/LM32/cpu/registers_31_736" BEL
        "SOC/LM32/cpu/registers_31_735" BEL "SOC/LM32/cpu/registers_31_734"
        BEL "SOC/LM32/cpu/registers_31_733" BEL
        "SOC/LM32/cpu/registers_31_732" BEL "SOC/LM32/cpu/registers_31_731"
        BEL "SOC/LM32/cpu/registers_31_730" BEL
        "SOC/LM32/cpu/registers_31_729" BEL "SOC/LM32/cpu/registers_31_728"
        BEL "SOC/LM32/cpu/registers_31_727" BEL
        "SOC/LM32/cpu/registers_31_726" BEL "SOC/LM32/cpu/registers_31_725"
        BEL "SOC/LM32/cpu/registers_31_724" BEL
        "SOC/LM32/cpu/registers_31_723" BEL "SOC/LM32/cpu/registers_31_722"
        BEL "SOC/LM32/cpu/registers_31_721" BEL
        "SOC/LM32/cpu/registers_31_720" BEL "SOC/LM32/cpu/registers_31_719"
        BEL "SOC/LM32/cpu/registers_31_718" BEL
        "SOC/LM32/cpu/registers_31_717" BEL "SOC/LM32/cpu/registers_31_716"
        BEL "SOC/LM32/cpu/registers_31_715" BEL
        "SOC/LM32/cpu/registers_31_714" BEL "SOC/LM32/cpu/registers_31_713"
        BEL "SOC/LM32/cpu/registers_31_712" BEL
        "SOC/LM32/cpu/registers_31_711" BEL "SOC/LM32/cpu/registers_31_710"
        BEL "SOC/LM32/cpu/registers_31_709" BEL
        "SOC/LM32/cpu/registers_31_708" BEL "SOC/LM32/cpu/registers_31_707"
        BEL "SOC/LM32/cpu/registers_31_706" BEL
        "SOC/LM32/cpu/registers_31_705" BEL "SOC/LM32/cpu/registers_31_704"
        BEL "SOC/LM32/cpu/registers_31_703" BEL
        "SOC/LM32/cpu/registers_31_702" BEL "SOC/LM32/cpu/registers_31_701"
        BEL "SOC/LM32/cpu/registers_31_700" BEL
        "SOC/LM32/cpu/registers_31_699" BEL "SOC/LM32/cpu/registers_31_698"
        BEL "SOC/LM32/cpu/registers_31_697" BEL
        "SOC/LM32/cpu/registers_31_696" BEL "SOC/LM32/cpu/registers_31_695"
        BEL "SOC/LM32/cpu/registers_31_694" BEL
        "SOC/LM32/cpu/registers_31_693" BEL "SOC/LM32/cpu/registers_31_692"
        BEL "SOC/LM32/cpu/registers_31_691" BEL
        "SOC/LM32/cpu/registers_31_690" BEL "SOC/LM32/cpu/registers_31_689"
        BEL "SOC/LM32/cpu/registers_31_688" BEL
        "SOC/LM32/cpu/registers_31_687" BEL "SOC/LM32/cpu/registers_31_686"
        BEL "SOC/LM32/cpu/registers_31_685" BEL
        "SOC/LM32/cpu/registers_31_684" BEL "SOC/LM32/cpu/registers_31_683"
        BEL "SOC/LM32/cpu/registers_31_682" BEL
        "SOC/LM32/cpu/registers_31_681" BEL "SOC/LM32/cpu/registers_31_680"
        BEL "SOC/LM32/cpu/registers_31_679" BEL
        "SOC/LM32/cpu/registers_31_678" BEL "SOC/LM32/cpu/registers_31_677"
        BEL "SOC/LM32/cpu/registers_31_676" BEL
        "SOC/LM32/cpu/registers_31_675" BEL "SOC/LM32/cpu/registers_31_674"
        BEL "SOC/LM32/cpu/registers_31_673" BEL
        "SOC/LM32/cpu/registers_31_672" BEL "SOC/LM32/cpu/registers_31_671"
        BEL "SOC/LM32/cpu/registers_31_670" BEL
        "SOC/LM32/cpu/registers_31_669" BEL "SOC/LM32/cpu/registers_31_668"
        BEL "SOC/LM32/cpu/registers_31_667" BEL
        "SOC/LM32/cpu/registers_31_666" BEL "SOC/LM32/cpu/registers_31_665"
        BEL "SOC/LM32/cpu/registers_31_664" BEL
        "SOC/LM32/cpu/registers_31_663" BEL "SOC/LM32/cpu/registers_31_662"
        BEL "SOC/LM32/cpu/registers_31_661" BEL
        "SOC/LM32/cpu/registers_31_660" BEL "SOC/LM32/cpu/registers_31_659"
        BEL "SOC/LM32/cpu/registers_31_658" BEL
        "SOC/LM32/cpu/registers_31_657" BEL "SOC/LM32/cpu/registers_31_656"
        BEL "SOC/LM32/cpu/registers_31_655" BEL
        "SOC/LM32/cpu/registers_31_654" BEL "SOC/LM32/cpu/registers_31_653"
        BEL "SOC/LM32/cpu/registers_31_652" BEL
        "SOC/LM32/cpu/registers_31_651" BEL "SOC/LM32/cpu/registers_31_650"
        BEL "SOC/LM32/cpu/registers_31_649" BEL
        "SOC/LM32/cpu/registers_31_648" BEL "SOC/LM32/cpu/registers_31_647"
        BEL "SOC/LM32/cpu/registers_31_646" BEL
        "SOC/LM32/cpu/registers_31_645" BEL "SOC/LM32/cpu/registers_31_644"
        BEL "SOC/LM32/cpu/registers_31_643" BEL
        "SOC/LM32/cpu/registers_31_642" BEL "SOC/LM32/cpu/registers_31_641"
        BEL "SOC/LM32/cpu/registers_31_640" BEL
        "SOC/LM32/cpu/registers_31_639" BEL "SOC/LM32/cpu/registers_31_638"
        BEL "SOC/LM32/cpu/registers_31_637" BEL
        "SOC/LM32/cpu/registers_31_636" BEL "SOC/LM32/cpu/registers_31_635"
        BEL "SOC/LM32/cpu/registers_31_634" BEL
        "SOC/LM32/cpu/registers_31_633" BEL "SOC/LM32/cpu/registers_31_632"
        BEL "SOC/LM32/cpu/registers_31_631" BEL
        "SOC/LM32/cpu/registers_31_630" BEL "SOC/LM32/cpu/registers_31_629"
        BEL "SOC/LM32/cpu/registers_31_628" BEL
        "SOC/LM32/cpu/registers_31_627" BEL "SOC/LM32/cpu/registers_31_626"
        BEL "SOC/LM32/cpu/registers_31_625" BEL
        "SOC/LM32/cpu/registers_31_624" BEL "SOC/LM32/cpu/registers_31_623"
        BEL "SOC/LM32/cpu/registers_31_622" BEL
        "SOC/LM32/cpu/registers_31_621" BEL "SOC/LM32/cpu/registers_31_620"
        BEL "SOC/LM32/cpu/registers_31_619" BEL
        "SOC/LM32/cpu/registers_31_618" BEL "SOC/LM32/cpu/registers_31_617"
        BEL "SOC/LM32/cpu/registers_31_616" BEL
        "SOC/LM32/cpu/registers_31_615" BEL "SOC/LM32/cpu/registers_31_614"
        BEL "SOC/LM32/cpu/registers_31_613" BEL
        "SOC/LM32/cpu/registers_31_612" BEL "SOC/LM32/cpu/registers_31_611"
        BEL "SOC/LM32/cpu/registers_31_610" BEL
        "SOC/LM32/cpu/registers_31_609" BEL "SOC/LM32/cpu/registers_31_608"
        BEL "SOC/LM32/cpu/registers_31_607" BEL
        "SOC/LM32/cpu/registers_31_606" BEL "SOC/LM32/cpu/registers_31_605"
        BEL "SOC/LM32/cpu/registers_31_604" BEL
        "SOC/LM32/cpu/registers_31_603" BEL "SOC/LM32/cpu/registers_31_602"
        BEL "SOC/LM32/cpu/registers_31_601" BEL
        "SOC/LM32/cpu/registers_31_600" BEL "SOC/LM32/cpu/registers_31_599"
        BEL "SOC/LM32/cpu/registers_31_598" BEL
        "SOC/LM32/cpu/registers_31_597" BEL "SOC/LM32/cpu/registers_31_596"
        BEL "SOC/LM32/cpu/registers_31_595" BEL
        "SOC/LM32/cpu/registers_31_594" BEL "SOC/LM32/cpu/registers_31_593"
        BEL "SOC/LM32/cpu/registers_31_592" BEL
        "SOC/LM32/cpu/registers_31_591" BEL "SOC/LM32/cpu/registers_31_590"
        BEL "SOC/LM32/cpu/registers_31_589" BEL
        "SOC/LM32/cpu/registers_31_588" BEL "SOC/LM32/cpu/registers_31_587"
        BEL "SOC/LM32/cpu/registers_31_586" BEL
        "SOC/LM32/cpu/registers_31_585" BEL "SOC/LM32/cpu/registers_31_584"
        BEL "SOC/LM32/cpu/registers_31_583" BEL
        "SOC/LM32/cpu/registers_31_582" BEL "SOC/LM32/cpu/registers_31_581"
        BEL "SOC/LM32/cpu/registers_31_580" BEL
        "SOC/LM32/cpu/registers_31_579" BEL "SOC/LM32/cpu/registers_31_578"
        BEL "SOC/LM32/cpu/registers_31_577" BEL
        "SOC/LM32/cpu/registers_31_576" BEL "SOC/LM32/cpu/registers_31_575"
        BEL "SOC/LM32/cpu/registers_31_574" BEL
        "SOC/LM32/cpu/registers_31_573" BEL "SOC/LM32/cpu/registers_31_572"
        BEL "SOC/LM32/cpu/registers_31_571" BEL
        "SOC/LM32/cpu/registers_31_570" BEL "SOC/LM32/cpu/registers_31_569"
        BEL "SOC/LM32/cpu/registers_31_568" BEL
        "SOC/LM32/cpu/registers_31_567" BEL "SOC/LM32/cpu/registers_31_566"
        BEL "SOC/LM32/cpu/registers_31_565" BEL
        "SOC/LM32/cpu/registers_31_564" BEL "SOC/LM32/cpu/registers_31_563"
        BEL "SOC/LM32/cpu/registers_31_562" BEL
        "SOC/LM32/cpu/registers_31_561" BEL "SOC/LM32/cpu/registers_31_560"
        BEL "SOC/LM32/cpu/registers_31_559" BEL
        "SOC/LM32/cpu/registers_31_558" BEL "SOC/LM32/cpu/registers_31_557"
        BEL "SOC/LM32/cpu/registers_31_556" BEL
        "SOC/LM32/cpu/registers_31_555" BEL "SOC/LM32/cpu/registers_31_554"
        BEL "SOC/LM32/cpu/registers_31_553" BEL
        "SOC/LM32/cpu/registers_31_552" BEL "SOC/LM32/cpu/registers_31_551"
        BEL "SOC/LM32/cpu/registers_31_550" BEL
        "SOC/LM32/cpu/registers_31_549" BEL "SOC/LM32/cpu/registers_31_548"
        BEL "SOC/LM32/cpu/registers_31_547" BEL
        "SOC/LM32/cpu/registers_31_546" BEL "SOC/LM32/cpu/registers_31_545"
        BEL "SOC/LM32/cpu/registers_31_544" BEL
        "SOC/LM32/cpu/registers_31_543" BEL "SOC/LM32/cpu/registers_31_542"
        BEL "SOC/LM32/cpu/registers_31_541" BEL
        "SOC/LM32/cpu/registers_31_540" BEL "SOC/LM32/cpu/registers_31_539"
        BEL "SOC/LM32/cpu/registers_31_538" BEL
        "SOC/LM32/cpu/registers_31_537" BEL "SOC/LM32/cpu/registers_31_536"
        BEL "SOC/LM32/cpu/registers_31_535" BEL
        "SOC/LM32/cpu/registers_31_534" BEL "SOC/LM32/cpu/registers_31_533"
        BEL "SOC/LM32/cpu/registers_31_532" BEL
        "SOC/LM32/cpu/registers_31_531" BEL "SOC/LM32/cpu/registers_31_530"
        BEL "SOC/LM32/cpu/registers_31_529" BEL
        "SOC/LM32/cpu/registers_31_528" BEL "SOC/LM32/cpu/registers_31_527"
        BEL "SOC/LM32/cpu/registers_31_526" BEL
        "SOC/LM32/cpu/registers_31_525" BEL "SOC/LM32/cpu/registers_31_524"
        BEL "SOC/LM32/cpu/registers_31_523" BEL
        "SOC/LM32/cpu/registers_31_522" BEL "SOC/LM32/cpu/registers_31_521"
        BEL "SOC/LM32/cpu/registers_31_520" BEL
        "SOC/LM32/cpu/registers_31_519" BEL "SOC/LM32/cpu/registers_31_518"
        BEL "SOC/LM32/cpu/registers_31_517" BEL
        "SOC/LM32/cpu/registers_31_516" BEL "SOC/LM32/cpu/registers_31_515"
        BEL "SOC/LM32/cpu/registers_31_514" BEL
        "SOC/LM32/cpu/registers_31_513" BEL "SOC/LM32/cpu/registers_31_512"
        BEL "SOC/LM32/cpu/registers_31_511" BEL
        "SOC/LM32/cpu/registers_31_510" BEL "SOC/LM32/cpu/registers_31_509"
        BEL "SOC/LM32/cpu/registers_31_508" BEL
        "SOC/LM32/cpu/registers_31_507" BEL "SOC/LM32/cpu/registers_31_506"
        BEL "SOC/LM32/cpu/registers_31_505" BEL
        "SOC/LM32/cpu/registers_31_504" BEL "SOC/LM32/cpu/registers_31_503"
        BEL "SOC/LM32/cpu/registers_31_502" BEL
        "SOC/LM32/cpu/registers_31_501" BEL "SOC/LM32/cpu/registers_31_500"
        BEL "SOC/LM32/cpu/registers_31_499" BEL
        "SOC/LM32/cpu/registers_31_498" BEL "SOC/LM32/cpu/registers_31_497"
        BEL "SOC/LM32/cpu/registers_31_496" BEL
        "SOC/LM32/cpu/registers_31_495" BEL "SOC/LM32/cpu/registers_31_494"
        BEL "SOC/LM32/cpu/registers_31_493" BEL
        "SOC/LM32/cpu/registers_31_492" BEL "SOC/LM32/cpu/registers_31_491"
        BEL "SOC/LM32/cpu/registers_31_490" BEL
        "SOC/LM32/cpu/registers_31_489" BEL "SOC/LM32/cpu/registers_31_488"
        BEL "SOC/LM32/cpu/registers_31_487" BEL
        "SOC/LM32/cpu/registers_31_486" BEL "SOC/LM32/cpu/registers_31_485"
        BEL "SOC/LM32/cpu/registers_31_484" BEL
        "SOC/LM32/cpu/registers_31_483" BEL "SOC/LM32/cpu/registers_31_482"
        BEL "SOC/LM32/cpu/registers_31_481" BEL
        "SOC/LM32/cpu/registers_31_480" BEL "SOC/LM32/cpu/registers_31_479"
        BEL "SOC/LM32/cpu/registers_31_478" BEL
        "SOC/LM32/cpu/registers_31_477" BEL "SOC/LM32/cpu/registers_31_476"
        BEL "SOC/LM32/cpu/registers_31_475" BEL
        "SOC/LM32/cpu/registers_31_474" BEL "SOC/LM32/cpu/registers_31_473"
        BEL "SOC/LM32/cpu/registers_31_472" BEL
        "SOC/LM32/cpu/registers_31_471" BEL "SOC/LM32/cpu/registers_31_470"
        BEL "SOC/LM32/cpu/registers_31_469" BEL
        "SOC/LM32/cpu/registers_31_468" BEL "SOC/LM32/cpu/registers_31_467"
        BEL "SOC/LM32/cpu/registers_31_466" BEL
        "SOC/LM32/cpu/registers_31_465" BEL "SOC/LM32/cpu/registers_31_464"
        BEL "SOC/LM32/cpu/registers_31_463" BEL
        "SOC/LM32/cpu/registers_31_462" BEL "SOC/LM32/cpu/registers_31_461"
        BEL "SOC/LM32/cpu/registers_31_460" BEL
        "SOC/LM32/cpu/registers_31_459" BEL "SOC/LM32/cpu/registers_31_458"
        BEL "SOC/LM32/cpu/registers_31_457" BEL
        "SOC/LM32/cpu/registers_31_456" BEL "SOC/LM32/cpu/registers_31_455"
        BEL "SOC/LM32/cpu/registers_31_454" BEL
        "SOC/LM32/cpu/registers_31_453" BEL "SOC/LM32/cpu/registers_31_452"
        BEL "SOC/LM32/cpu/registers_31_451" BEL
        "SOC/LM32/cpu/registers_31_450" BEL "SOC/LM32/cpu/registers_31_449"
        BEL "SOC/LM32/cpu/registers_31_448" BEL
        "SOC/LM32/cpu/registers_31_447" BEL "SOC/LM32/cpu/registers_31_446"
        BEL "SOC/LM32/cpu/registers_31_445" BEL
        "SOC/LM32/cpu/registers_31_444" BEL "SOC/LM32/cpu/registers_31_443"
        BEL "SOC/LM32/cpu/registers_31_442" BEL
        "SOC/LM32/cpu/registers_31_441" BEL "SOC/LM32/cpu/registers_31_440"
        BEL "SOC/LM32/cpu/registers_31_439" BEL
        "SOC/LM32/cpu/registers_31_438" BEL "SOC/LM32/cpu/registers_31_437"
        BEL "SOC/LM32/cpu/registers_31_436" BEL
        "SOC/LM32/cpu/registers_31_435" BEL "SOC/LM32/cpu/registers_31_434"
        BEL "SOC/LM32/cpu/registers_31_433" BEL
        "SOC/LM32/cpu/registers_31_432" BEL "SOC/LM32/cpu/registers_31_431"
        BEL "SOC/LM32/cpu/registers_31_430" BEL
        "SOC/LM32/cpu/registers_31_429" BEL "SOC/LM32/cpu/registers_31_428"
        BEL "SOC/LM32/cpu/registers_31_427" BEL
        "SOC/LM32/cpu/registers_31_426" BEL "SOC/LM32/cpu/registers_31_425"
        BEL "SOC/LM32/cpu/registers_31_424" BEL
        "SOC/LM32/cpu/registers_31_423" BEL "SOC/LM32/cpu/registers_31_422"
        BEL "SOC/LM32/cpu/registers_31_421" BEL
        "SOC/LM32/cpu/registers_31_420" BEL "SOC/LM32/cpu/registers_31_419"
        BEL "SOC/LM32/cpu/registers_31_418" BEL
        "SOC/LM32/cpu/registers_31_417" BEL "SOC/LM32/cpu/registers_31_416"
        BEL "SOC/LM32/cpu/registers_31_415" BEL
        "SOC/LM32/cpu/registers_31_414" BEL "SOC/LM32/cpu/registers_31_413"
        BEL "SOC/LM32/cpu/registers_31_412" BEL
        "SOC/LM32/cpu/registers_31_411" BEL "SOC/LM32/cpu/registers_31_410"
        BEL "SOC/LM32/cpu/registers_31_409" BEL
        "SOC/LM32/cpu/registers_31_408" BEL "SOC/LM32/cpu/registers_31_407"
        BEL "SOC/LM32/cpu/registers_31_406" BEL
        "SOC/LM32/cpu/registers_31_405" BEL "SOC/LM32/cpu/registers_31_404"
        BEL "SOC/LM32/cpu/registers_31_403" BEL
        "SOC/LM32/cpu/registers_31_402" BEL "SOC/LM32/cpu/registers_31_401"
        BEL "SOC/LM32/cpu/registers_31_400" BEL
        "SOC/LM32/cpu/registers_31_399" BEL "SOC/LM32/cpu/registers_31_398"
        BEL "SOC/LM32/cpu/registers_31_397" BEL
        "SOC/LM32/cpu/registers_31_396" BEL "SOC/LM32/cpu/registers_31_395"
        BEL "SOC/LM32/cpu/registers_31_394" BEL
        "SOC/LM32/cpu/registers_31_393" BEL "SOC/LM32/cpu/registers_31_392"
        BEL "SOC/LM32/cpu/registers_31_391" BEL
        "SOC/LM32/cpu/registers_31_390" BEL "SOC/LM32/cpu/registers_31_389"
        BEL "SOC/LM32/cpu/registers_31_388" BEL
        "SOC/LM32/cpu/registers_31_387" BEL "SOC/LM32/cpu/registers_31_386"
        BEL "SOC/LM32/cpu/registers_31_385" BEL
        "SOC/LM32/cpu/registers_31_384" BEL "SOC/LM32/cpu/registers_31_383"
        BEL "SOC/LM32/cpu/registers_31_382" BEL
        "SOC/LM32/cpu/registers_31_381" BEL "SOC/LM32/cpu/registers_31_380"
        BEL "SOC/LM32/cpu/registers_31_379" BEL
        "SOC/LM32/cpu/registers_31_378" BEL "SOC/LM32/cpu/registers_31_377"
        BEL "SOC/LM32/cpu/registers_31_376" BEL
        "SOC/LM32/cpu/registers_31_375" BEL "SOC/LM32/cpu/registers_31_374"
        BEL "SOC/LM32/cpu/registers_31_373" BEL
        "SOC/LM32/cpu/registers_31_372" BEL "SOC/LM32/cpu/registers_31_371"
        BEL "SOC/LM32/cpu/registers_31_370" BEL
        "SOC/LM32/cpu/registers_31_369" BEL "SOC/LM32/cpu/registers_31_368"
        BEL "SOC/LM32/cpu/registers_31_367" BEL
        "SOC/LM32/cpu/registers_31_366" BEL "SOC/LM32/cpu/registers_31_365"
        BEL "SOC/LM32/cpu/registers_31_364" BEL
        "SOC/LM32/cpu/registers_31_363" BEL "SOC/LM32/cpu/registers_31_362"
        BEL "SOC/LM32/cpu/registers_31_361" BEL
        "SOC/LM32/cpu/registers_31_360" BEL "SOC/LM32/cpu/registers_31_359"
        BEL "SOC/LM32/cpu/registers_31_358" BEL
        "SOC/LM32/cpu/registers_31_357" BEL "SOC/LM32/cpu/registers_31_356"
        BEL "SOC/LM32/cpu/registers_31_355" BEL
        "SOC/LM32/cpu/registers_31_354" BEL "SOC/LM32/cpu/registers_31_353"
        BEL "SOC/LM32/cpu/registers_31_352" BEL
        "SOC/LM32/cpu/registers_31_351" BEL "SOC/LM32/cpu/registers_31_350"
        BEL "SOC/LM32/cpu/registers_31_349" BEL
        "SOC/LM32/cpu/registers_31_348" BEL "SOC/LM32/cpu/registers_31_347"
        BEL "SOC/LM32/cpu/registers_31_346" BEL
        "SOC/LM32/cpu/registers_31_345" BEL "SOC/LM32/cpu/registers_31_344"
        BEL "SOC/LM32/cpu/registers_31_343" BEL
        "SOC/LM32/cpu/registers_31_342" BEL "SOC/LM32/cpu/registers_31_341"
        BEL "SOC/LM32/cpu/registers_31_340" BEL
        "SOC/LM32/cpu/registers_31_339" BEL "SOC/LM32/cpu/registers_31_338"
        BEL "SOC/LM32/cpu/registers_31_337" BEL
        "SOC/LM32/cpu/registers_31_336" BEL "SOC/LM32/cpu/registers_31_335"
        BEL "SOC/LM32/cpu/registers_31_334" BEL
        "SOC/LM32/cpu/registers_31_333" BEL "SOC/LM32/cpu/registers_31_332"
        BEL "SOC/LM32/cpu/registers_31_331" BEL
        "SOC/LM32/cpu/registers_31_330" BEL "SOC/LM32/cpu/registers_31_329"
        BEL "SOC/LM32/cpu/registers_31_328" BEL
        "SOC/LM32/cpu/registers_31_327" BEL "SOC/LM32/cpu/registers_31_326"
        BEL "SOC/LM32/cpu/registers_31_325" BEL
        "SOC/LM32/cpu/registers_31_324" BEL "SOC/LM32/cpu/registers_31_323"
        BEL "SOC/LM32/cpu/registers_31_322" BEL
        "SOC/LM32/cpu/registers_31_321" BEL "SOC/LM32/cpu/registers_31_320"
        BEL "SOC/LM32/cpu/registers_31_319" BEL
        "SOC/LM32/cpu/registers_31_318" BEL "SOC/LM32/cpu/registers_31_317"
        BEL "SOC/LM32/cpu/registers_31_316" BEL
        "SOC/LM32/cpu/registers_31_315" BEL "SOC/LM32/cpu/registers_31_314"
        BEL "SOC/LM32/cpu/registers_31_313" BEL
        "SOC/LM32/cpu/registers_31_312" BEL "SOC/LM32/cpu/registers_31_311"
        BEL "SOC/LM32/cpu/registers_31_310" BEL
        "SOC/LM32/cpu/registers_31_309" BEL "SOC/LM32/cpu/registers_31_308"
        BEL "SOC/LM32/cpu/registers_31_307" BEL
        "SOC/LM32/cpu/registers_31_306" BEL "SOC/LM32/cpu/registers_31_305"
        BEL "SOC/LM32/cpu/registers_31_304" BEL
        "SOC/LM32/cpu/registers_31_303" BEL "SOC/LM32/cpu/registers_31_302"
        BEL "SOC/LM32/cpu/registers_31_301" BEL
        "SOC/LM32/cpu/registers_31_300" BEL "SOC/LM32/cpu/registers_31_299"
        BEL "SOC/LM32/cpu/registers_31_298" BEL
        "SOC/LM32/cpu/registers_31_297" BEL "SOC/LM32/cpu/registers_31_296"
        BEL "SOC/LM32/cpu/registers_31_295" BEL
        "SOC/LM32/cpu/registers_31_294" BEL "SOC/LM32/cpu/registers_31_293"
        BEL "SOC/LM32/cpu/registers_31_292" BEL
        "SOC/LM32/cpu/registers_31_291" BEL "SOC/LM32/cpu/registers_31_290"
        BEL "SOC/LM32/cpu/registers_31_289" BEL
        "SOC/LM32/cpu/registers_31_288" BEL "SOC/LM32/cpu/registers_31_287"
        BEL "SOC/LM32/cpu/registers_31_286" BEL
        "SOC/LM32/cpu/registers_31_285" BEL "SOC/LM32/cpu/registers_31_284"
        BEL "SOC/LM32/cpu/registers_31_283" BEL
        "SOC/LM32/cpu/registers_31_282" BEL "SOC/LM32/cpu/registers_31_281"
        BEL "SOC/LM32/cpu/registers_31_280" BEL
        "SOC/LM32/cpu/registers_31_279" BEL "SOC/LM32/cpu/registers_31_278"
        BEL "SOC/LM32/cpu/registers_31_277" BEL
        "SOC/LM32/cpu/registers_31_276" BEL "SOC/LM32/cpu/registers_31_275"
        BEL "SOC/LM32/cpu/registers_31_274" BEL
        "SOC/LM32/cpu/registers_31_273" BEL "SOC/LM32/cpu/registers_31_272"
        BEL "SOC/LM32/cpu/registers_31_271" BEL
        "SOC/LM32/cpu/registers_31_270" BEL "SOC/LM32/cpu/registers_31_269"
        BEL "SOC/LM32/cpu/registers_31_268" BEL
        "SOC/LM32/cpu/registers_31_267" BEL "SOC/LM32/cpu/registers_31_266"
        BEL "SOC/LM32/cpu/registers_31_265" BEL
        "SOC/LM32/cpu/registers_31_264" BEL "SOC/LM32/cpu/registers_31_263"
        BEL "SOC/LM32/cpu/registers_31_262" BEL
        "SOC/LM32/cpu/registers_31_261" BEL "SOC/LM32/cpu/registers_31_260"
        BEL "SOC/LM32/cpu/registers_31_259" BEL
        "SOC/LM32/cpu/registers_31_258" BEL "SOC/LM32/cpu/registers_31_257"
        BEL "SOC/LM32/cpu/registers_31_256" BEL
        "SOC/LM32/cpu/registers_31_255" BEL "SOC/LM32/cpu/registers_31_254"
        BEL "SOC/LM32/cpu/registers_31_253" BEL
        "SOC/LM32/cpu/registers_31_252" BEL "SOC/LM32/cpu/registers_31_251"
        BEL "SOC/LM32/cpu/registers_31_250" BEL
        "SOC/LM32/cpu/registers_31_249" BEL "SOC/LM32/cpu/registers_31_248"
        BEL "SOC/LM32/cpu/registers_31_247" BEL
        "SOC/LM32/cpu/registers_31_246" BEL "SOC/LM32/cpu/registers_31_245"
        BEL "SOC/LM32/cpu/registers_31_244" BEL
        "SOC/LM32/cpu/registers_31_243" BEL "SOC/LM32/cpu/registers_31_242"
        BEL "SOC/LM32/cpu/registers_31_241" BEL
        "SOC/LM32/cpu/registers_31_240" BEL "SOC/LM32/cpu/registers_31_239"
        BEL "SOC/LM32/cpu/registers_31_238" BEL
        "SOC/LM32/cpu/registers_31_237" BEL "SOC/LM32/cpu/registers_31_236"
        BEL "SOC/LM32/cpu/registers_31_235" BEL
        "SOC/LM32/cpu/registers_31_234" BEL "SOC/LM32/cpu/registers_31_233"
        BEL "SOC/LM32/cpu/registers_31_232" BEL
        "SOC/LM32/cpu/registers_31_231" BEL "SOC/LM32/cpu/registers_31_230"
        BEL "SOC/LM32/cpu/registers_31_229" BEL
        "SOC/LM32/cpu/registers_31_228" BEL "SOC/LM32/cpu/registers_31_227"
        BEL "SOC/LM32/cpu/registers_31_226" BEL
        "SOC/LM32/cpu/registers_31_225" BEL "SOC/LM32/cpu/registers_31_224"
        BEL "SOC/LM32/cpu/registers_31_223" BEL
        "SOC/LM32/cpu/registers_31_222" BEL "SOC/LM32/cpu/registers_31_221"
        BEL "SOC/LM32/cpu/registers_31_220" BEL
        "SOC/LM32/cpu/registers_31_219" BEL "SOC/LM32/cpu/registers_31_218"
        BEL "SOC/LM32/cpu/registers_31_217" BEL
        "SOC/LM32/cpu/registers_31_216" BEL "SOC/LM32/cpu/registers_31_215"
        BEL "SOC/LM32/cpu/registers_31_214" BEL
        "SOC/LM32/cpu/registers_31_213" BEL "SOC/LM32/cpu/registers_31_212"
        BEL "SOC/LM32/cpu/registers_31_211" BEL
        "SOC/LM32/cpu/registers_31_210" BEL "SOC/LM32/cpu/registers_31_209"
        BEL "SOC/LM32/cpu/registers_31_208" BEL
        "SOC/LM32/cpu/registers_31_207" BEL "SOC/LM32/cpu/registers_31_206"
        BEL "SOC/LM32/cpu/registers_31_205" BEL
        "SOC/LM32/cpu/registers_31_204" BEL "SOC/LM32/cpu/registers_31_203"
        BEL "SOC/LM32/cpu/registers_31_202" BEL
        "SOC/LM32/cpu/registers_31_201" BEL "SOC/LM32/cpu/registers_31_200"
        BEL "SOC/LM32/cpu/registers_31_199" BEL
        "SOC/LM32/cpu/registers_31_198" BEL "SOC/LM32/cpu/registers_31_197"
        BEL "SOC/LM32/cpu/registers_31_196" BEL
        "SOC/LM32/cpu/registers_31_195" BEL "SOC/LM32/cpu/registers_31_194"
        BEL "SOC/LM32/cpu/registers_31_193" BEL
        "SOC/LM32/cpu/registers_31_192" BEL "SOC/LM32/cpu/registers_31_191"
        BEL "SOC/LM32/cpu/registers_31_190" BEL
        "SOC/LM32/cpu/registers_31_189" BEL "SOC/LM32/cpu/registers_31_188"
        BEL "SOC/LM32/cpu/registers_31_187" BEL
        "SOC/LM32/cpu/registers_31_186" BEL "SOC/LM32/cpu/registers_31_185"
        BEL "SOC/LM32/cpu/registers_31_184" BEL
        "SOC/LM32/cpu/registers_31_183" BEL "SOC/LM32/cpu/registers_31_182"
        BEL "SOC/LM32/cpu/registers_31_181" BEL
        "SOC/LM32/cpu/registers_31_180" BEL "SOC/LM32/cpu/registers_31_179"
        BEL "SOC/LM32/cpu/registers_31_178" BEL
        "SOC/LM32/cpu/registers_31_177" BEL "SOC/LM32/cpu/registers_31_176"
        BEL "SOC/LM32/cpu/registers_31_175" BEL
        "SOC/LM32/cpu/registers_31_174" BEL "SOC/LM32/cpu/registers_31_173"
        BEL "SOC/LM32/cpu/registers_31_172" BEL
        "SOC/LM32/cpu/registers_31_171" BEL "SOC/LM32/cpu/registers_31_170"
        BEL "SOC/LM32/cpu/registers_31_169" BEL
        "SOC/LM32/cpu/registers_31_168" BEL "SOC/LM32/cpu/registers_31_167"
        BEL "SOC/LM32/cpu/registers_31_166" BEL
        "SOC/LM32/cpu/registers_31_165" BEL "SOC/LM32/cpu/registers_31_164"
        BEL "SOC/LM32/cpu/registers_31_163" BEL
        "SOC/LM32/cpu/registers_31_162" BEL "SOC/LM32/cpu/registers_31_161"
        BEL "SOC/LM32/cpu/registers_31_160" BEL
        "SOC/LM32/cpu/registers_31_159" BEL "SOC/LM32/cpu/registers_31_158"
        BEL "SOC/LM32/cpu/registers_31_157" BEL
        "SOC/LM32/cpu/registers_31_156" BEL "SOC/LM32/cpu/registers_31_155"
        BEL "SOC/LM32/cpu/registers_31_154" BEL
        "SOC/LM32/cpu/registers_31_153" BEL "SOC/LM32/cpu/registers_31_152"
        BEL "SOC/LM32/cpu/registers_31_151" BEL
        "SOC/LM32/cpu/registers_31_150" BEL "SOC/LM32/cpu/registers_31_149"
        BEL "SOC/LM32/cpu/registers_31_148" BEL
        "SOC/LM32/cpu/registers_31_147" BEL "SOC/LM32/cpu/registers_31_146"
        BEL "SOC/LM32/cpu/registers_31_145" BEL
        "SOC/LM32/cpu/registers_31_144" BEL "SOC/LM32/cpu/registers_31_143"
        BEL "SOC/LM32/cpu/registers_31_142" BEL
        "SOC/LM32/cpu/registers_31_141" BEL "SOC/LM32/cpu/registers_31_140"
        BEL "SOC/LM32/cpu/registers_31_139" BEL
        "SOC/LM32/cpu/registers_31_138" BEL "SOC/LM32/cpu/registers_31_137"
        BEL "SOC/LM32/cpu/registers_31_136" BEL
        "SOC/LM32/cpu/registers_31_135" BEL "SOC/LM32/cpu/registers_31_134"
        BEL "SOC/LM32/cpu/registers_31_133" BEL
        "SOC/LM32/cpu/registers_31_132" BEL "SOC/LM32/cpu/registers_31_131"
        BEL "SOC/LM32/cpu/registers_31_130" BEL
        "SOC/LM32/cpu/registers_31_129" BEL "SOC/LM32/cpu/registers_31_128"
        BEL "SOC/LM32/cpu/registers_31_127" BEL
        "SOC/LM32/cpu/registers_31_126" BEL "SOC/LM32/cpu/registers_31_125"
        BEL "SOC/LM32/cpu/registers_31_124" BEL
        "SOC/LM32/cpu/registers_31_123" BEL "SOC/LM32/cpu/registers_31_122"
        BEL "SOC/LM32/cpu/registers_31_121" BEL
        "SOC/LM32/cpu/registers_31_120" BEL "SOC/LM32/cpu/registers_31_119"
        BEL "SOC/LM32/cpu/registers_31_118" BEL
        "SOC/LM32/cpu/registers_31_117" BEL "SOC/LM32/cpu/registers_31_116"
        BEL "SOC/LM32/cpu/registers_31_115" BEL
        "SOC/LM32/cpu/registers_31_114" BEL "SOC/LM32/cpu/registers_31_113"
        BEL "SOC/LM32/cpu/registers_31_112" BEL
        "SOC/LM32/cpu/registers_31_111" BEL "SOC/LM32/cpu/registers_31_110"
        BEL "SOC/LM32/cpu/registers_31_109" BEL
        "SOC/LM32/cpu/registers_31_108" BEL "SOC/LM32/cpu/registers_31_107"
        BEL "SOC/LM32/cpu/registers_31_106" BEL
        "SOC/LM32/cpu/registers_31_105" BEL "SOC/LM32/cpu/registers_31_104"
        BEL "SOC/LM32/cpu/registers_31_103" BEL
        "SOC/LM32/cpu/registers_31_102" BEL "SOC/LM32/cpu/registers_31_101"
        BEL "SOC/LM32/cpu/registers_31_100" BEL "SOC/LM32/cpu/registers_31_99"
        BEL "SOC/LM32/cpu/registers_31_98" BEL "SOC/LM32/cpu/registers_31_97"
        BEL "SOC/LM32/cpu/registers_31_96" BEL "SOC/LM32/cpu/registers_31_95"
        BEL "SOC/LM32/cpu/registers_31_94" BEL "SOC/LM32/cpu/registers_31_93"
        BEL "SOC/LM32/cpu/registers_31_92" BEL "SOC/LM32/cpu/registers_31_91"
        BEL "SOC/LM32/cpu/registers_31_90" BEL "SOC/LM32/cpu/registers_31_89"
        BEL "SOC/LM32/cpu/registers_31_88" BEL "SOC/LM32/cpu/registers_31_87"
        BEL "SOC/LM32/cpu/registers_31_86" BEL "SOC/LM32/cpu/registers_31_85"
        BEL "SOC/LM32/cpu/registers_31_84" BEL "SOC/LM32/cpu/registers_31_83"
        BEL "SOC/LM32/cpu/registers_31_82" BEL "SOC/LM32/cpu/registers_31_81"
        BEL "SOC/LM32/cpu/registers_31_80" BEL "SOC/LM32/cpu/registers_31_79"
        BEL "SOC/LM32/cpu/registers_31_78" BEL "SOC/LM32/cpu/registers_31_77"
        BEL "SOC/LM32/cpu/registers_31_76" BEL "SOC/LM32/cpu/registers_31_75"
        BEL "SOC/LM32/cpu/registers_31_74" BEL "SOC/LM32/cpu/registers_31_73"
        BEL "SOC/LM32/cpu/registers_31_72" BEL "SOC/LM32/cpu/registers_31_71"
        BEL "SOC/LM32/cpu/registers_31_70" BEL "SOC/LM32/cpu/registers_31_69"
        BEL "SOC/LM32/cpu/registers_31_68" BEL "SOC/LM32/cpu/registers_31_67"
        BEL "SOC/LM32/cpu/registers_31_66" BEL "SOC/LM32/cpu/registers_31_65"
        BEL "SOC/LM32/cpu/registers_31_64" BEL "SOC/LM32/cpu/registers_31_63"
        BEL "SOC/LM32/cpu/registers_31_62" BEL "SOC/LM32/cpu/registers_31_61"
        BEL "SOC/LM32/cpu/registers_31_60" BEL "SOC/LM32/cpu/registers_31_59"
        BEL "SOC/LM32/cpu/registers_31_58" BEL "SOC/LM32/cpu/registers_31_57"
        BEL "SOC/LM32/cpu/registers_31_56" BEL "SOC/LM32/cpu/registers_31_55"
        BEL "SOC/LM32/cpu/registers_31_54" BEL "SOC/LM32/cpu/registers_31_53"
        BEL "SOC/LM32/cpu/registers_31_52" BEL "SOC/LM32/cpu/registers_31_51"
        BEL "SOC/LM32/cpu/registers_31_50" BEL "SOC/LM32/cpu/registers_31_49"
        BEL "SOC/LM32/cpu/registers_31_48" BEL "SOC/LM32/cpu/registers_31_47"
        BEL "SOC/LM32/cpu/registers_31_46" BEL "SOC/LM32/cpu/registers_31_45"
        BEL "SOC/LM32/cpu/registers_31_44" BEL "SOC/LM32/cpu/registers_31_43"
        BEL "SOC/LM32/cpu/registers_31_42" BEL "SOC/LM32/cpu/registers_31_41"
        BEL "SOC/LM32/cpu/registers_31_40" BEL "SOC/LM32/cpu/registers_31_39"
        BEL "SOC/LM32/cpu/registers_31_38" BEL "SOC/LM32/cpu/registers_31_37"
        BEL "SOC/LM32/cpu/registers_31_36" BEL "SOC/LM32/cpu/registers_31_35"
        BEL "SOC/LM32/cpu/registers_31_34" BEL "SOC/LM32/cpu/registers_31_33"
        BEL "SOC/LM32/cpu/registers_31_32" BEL "SOC/LM32/cpu/registers_31_31"
        BEL "SOC/LM32/cpu/registers_31_30" BEL "SOC/LM32/cpu/registers_31_29"
        BEL "SOC/LM32/cpu/registers_31_28" BEL "SOC/LM32/cpu/registers_31_27"
        BEL "SOC/LM32/cpu/registers_31_26" BEL "SOC/LM32/cpu/registers_31_25"
        BEL "SOC/LM32/cpu/registers_31_24" BEL "SOC/LM32/cpu/registers_31_23"
        BEL "SOC/LM32/cpu/registers_31_22" BEL "SOC/LM32/cpu/registers_31_21"
        BEL "SOC/LM32/cpu/registers_31_20" BEL "SOC/LM32/cpu/registers_31_19"
        BEL "SOC/LM32/cpu/registers_31_18" BEL "SOC/LM32/cpu/registers_31_17"
        BEL "SOC/LM32/cpu/registers_31_16" BEL "SOC/LM32/cpu/registers_31_15"
        BEL "SOC/LM32/cpu/registers_31_14" BEL "SOC/LM32/cpu/registers_31_13"
        BEL "SOC/LM32/cpu/registers_31_12" BEL "SOC/LM32/cpu/registers_31_11"
        BEL "SOC/LM32/cpu/registers_31_10" BEL "SOC/LM32/cpu/registers_31_9"
        BEL "SOC/LM32/cpu/registers_31_8" BEL "SOC/LM32/cpu/registers_31_7"
        BEL "SOC/LM32/cpu/registers_31_6" BEL "SOC/LM32/cpu/registers_31_5"
        BEL "SOC/LM32/cpu/registers_31_4" BEL "SOC/LM32/cpu/registers_31_3"
        BEL "SOC/LM32/cpu/registers_31_2" BEL "SOC/LM32/cpu/registers_31_1"
        BEL "SOC/LM32/cpu/registers_31_0" BEL "SOC/LM32/cpu/operand_w_31" BEL
        "SOC/LM32/cpu/operand_w_30" BEL "SOC/LM32/cpu/operand_w_29" BEL
        "SOC/LM32/cpu/operand_w_28" BEL "SOC/LM32/cpu/operand_w_27" BEL
        "SOC/LM32/cpu/operand_w_26" BEL "SOC/LM32/cpu/operand_w_25" BEL
        "SOC/LM32/cpu/operand_w_24" BEL "SOC/LM32/cpu/operand_w_23" BEL
        "SOC/LM32/cpu/operand_w_22" BEL "SOC/LM32/cpu/operand_w_21" BEL
        "SOC/LM32/cpu/operand_w_20" BEL "SOC/LM32/cpu/operand_w_19" BEL
        "SOC/LM32/cpu/operand_w_18" BEL "SOC/LM32/cpu/operand_w_17" BEL
        "SOC/LM32/cpu/operand_w_16" BEL "SOC/LM32/cpu/operand_w_15" BEL
        "SOC/LM32/cpu/operand_w_14" BEL "SOC/LM32/cpu/operand_w_13" BEL
        "SOC/LM32/cpu/operand_w_12" BEL "SOC/LM32/cpu/operand_w_11" BEL
        "SOC/LM32/cpu/operand_w_10" BEL "SOC/LM32/cpu/operand_w_9" BEL
        "SOC/LM32/cpu/operand_w_8" BEL "SOC/LM32/cpu/operand_w_7" BEL
        "SOC/LM32/cpu/operand_w_6" BEL "SOC/LM32/cpu/operand_w_5" BEL
        "SOC/LM32/cpu/operand_w_4" BEL "SOC/LM32/cpu/operand_w_3" BEL
        "SOC/LM32/cpu/operand_w_2" BEL "SOC/LM32/cpu/operand_w_1" BEL
        "SOC/LM32/cpu/operand_w_0" BEL "SOC/LM32/cpu/operand_m_31" BEL
        "SOC/LM32/cpu/operand_m_30" BEL "SOC/LM32/cpu/operand_m_29" BEL
        "SOC/LM32/cpu/operand_m_28" BEL "SOC/LM32/cpu/operand_m_27" BEL
        "SOC/LM32/cpu/operand_m_26" BEL "SOC/LM32/cpu/operand_m_25" BEL
        "SOC/LM32/cpu/operand_m_24" BEL "SOC/LM32/cpu/operand_m_23" BEL
        "SOC/LM32/cpu/operand_m_22" BEL "SOC/LM32/cpu/operand_m_21" BEL
        "SOC/LM32/cpu/operand_m_20" BEL "SOC/LM32/cpu/operand_m_19" BEL
        "SOC/LM32/cpu/operand_m_18" BEL "SOC/LM32/cpu/operand_m_17" BEL
        "SOC/LM32/cpu/operand_m_16" BEL "SOC/LM32/cpu/operand_m_15" BEL
        "SOC/LM32/cpu/operand_m_14" BEL "SOC/LM32/cpu/operand_m_13" BEL
        "SOC/LM32/cpu/operand_m_12" BEL "SOC/LM32/cpu/operand_m_11" BEL
        "SOC/LM32/cpu/operand_m_10" BEL "SOC/LM32/cpu/operand_m_9" BEL
        "SOC/LM32/cpu/operand_m_8" BEL "SOC/LM32/cpu/operand_m_7" BEL
        "SOC/LM32/cpu/operand_m_6" BEL "SOC/LM32/cpu/operand_m_5" BEL
        "SOC/LM32/cpu/operand_m_4" BEL "SOC/LM32/cpu/operand_m_3" BEL
        "SOC/LM32/cpu/operand_m_2" BEL "SOC/LM32/cpu/operand_m_1" BEL
        "SOC/LM32/cpu/operand_m_0" BEL "SOC/LM32/cpu/condition_met_m" BEL
        "SOC/LM32/cpu/eba_31" BEL "SOC/LM32/cpu/eba_30" BEL
        "SOC/LM32/cpu/eba_29" BEL "SOC/LM32/cpu/eba_28" BEL
        "SOC/LM32/cpu/eba_27" BEL "SOC/LM32/cpu/eba_26" BEL
        "SOC/LM32/cpu/eba_25" BEL "SOC/LM32/cpu/eba_24" BEL
        "SOC/LM32/cpu/eba_23" BEL "SOC/LM32/cpu/eba_22" BEL
        "SOC/LM32/cpu/eba_21" BEL "SOC/LM32/cpu/eba_20" BEL
        "SOC/LM32/cpu/eba_19" BEL "SOC/LM32/cpu/eba_18" BEL
        "SOC/LM32/cpu/eba_17" BEL "SOC/LM32/cpu/eba_16" BEL
        "SOC/LM32/cpu/eba_15" BEL "SOC/LM32/cpu/eba_14" BEL
        "SOC/LM32/cpu/eba_13" BEL "SOC/LM32/cpu/eba_12" BEL
        "SOC/LM32/cpu/eba_11" BEL "SOC/LM32/cpu/eba_10" BEL
        "SOC/LM32/cpu/eba_9" BEL "SOC/LM32/cpu/eba_8" BEL
        "SOC/LM32/cpu/operand_1_x_31" BEL "SOC/LM32/cpu/operand_1_x_30" BEL
        "SOC/LM32/cpu/operand_1_x_29" BEL "SOC/LM32/cpu/operand_1_x_28" BEL
        "SOC/LM32/cpu/operand_1_x_27" BEL "SOC/LM32/cpu/operand_1_x_26" BEL
        "SOC/LM32/cpu/operand_1_x_25" BEL "SOC/LM32/cpu/operand_1_x_24" BEL
        "SOC/LM32/cpu/operand_1_x_23" BEL "SOC/LM32/cpu/operand_1_x_22" BEL
        "SOC/LM32/cpu/operand_1_x_21" BEL "SOC/LM32/cpu/operand_1_x_20" BEL
        "SOC/LM32/cpu/operand_1_x_19" BEL "SOC/LM32/cpu/operand_1_x_18" BEL
        "SOC/LM32/cpu/operand_1_x_17" BEL "SOC/LM32/cpu/operand_1_x_16" BEL
        "SOC/LM32/cpu/operand_1_x_15" BEL "SOC/LM32/cpu/operand_1_x_14" BEL
        "SOC/LM32/cpu/operand_1_x_13" BEL "SOC/LM32/cpu/operand_1_x_12" BEL
        "SOC/LM32/cpu/operand_1_x_11" BEL "SOC/LM32/cpu/operand_1_x_10" BEL
        "SOC/LM32/cpu/operand_1_x_9" BEL "SOC/LM32/cpu/operand_1_x_8" BEL
        "SOC/LM32/cpu/operand_1_x_7" BEL "SOC/LM32/cpu/operand_1_x_6" BEL
        "SOC/LM32/cpu/operand_1_x_5" BEL "SOC/LM32/cpu/operand_1_x_4" BEL
        "SOC/LM32/cpu/operand_1_x_3" BEL "SOC/LM32/cpu/operand_1_x_2" BEL
        "SOC/LM32/cpu/operand_1_x_1" BEL "SOC/LM32/cpu/operand_1_x_0" BEL
        "SOC/LM32/cpu/store_operand_x_31" BEL
        "SOC/LM32/cpu/store_operand_x_30" BEL
        "SOC/LM32/cpu/store_operand_x_29" BEL
        "SOC/LM32/cpu/store_operand_x_28" BEL
        "SOC/LM32/cpu/store_operand_x_27" BEL
        "SOC/LM32/cpu/store_operand_x_26" BEL
        "SOC/LM32/cpu/store_operand_x_25" BEL
        "SOC/LM32/cpu/store_operand_x_24" BEL
        "SOC/LM32/cpu/store_operand_x_23" BEL
        "SOC/LM32/cpu/store_operand_x_22" BEL
        "SOC/LM32/cpu/store_operand_x_21" BEL
        "SOC/LM32/cpu/store_operand_x_20" BEL
        "SOC/LM32/cpu/store_operand_x_19" BEL
        "SOC/LM32/cpu/store_operand_x_18" BEL
        "SOC/LM32/cpu/store_operand_x_17" BEL
        "SOC/LM32/cpu/store_operand_x_16" BEL
        "SOC/LM32/cpu/store_operand_x_15" BEL
        "SOC/LM32/cpu/store_operand_x_14" BEL
        "SOC/LM32/cpu/store_operand_x_13" BEL
        "SOC/LM32/cpu/store_operand_x_12" BEL
        "SOC/LM32/cpu/store_operand_x_11" BEL
        "SOC/LM32/cpu/store_operand_x_10" BEL "SOC/LM32/cpu/store_operand_x_9"
        BEL "SOC/LM32/cpu/store_operand_x_8" BEL
        "SOC/LM32/cpu/store_operand_x_7" BEL "SOC/LM32/cpu/store_operand_x_6"
        BEL "SOC/LM32/cpu/store_operand_x_5" BEL
        "SOC/LM32/cpu/store_operand_x_4" BEL "SOC/LM32/cpu/store_operand_x_3"
        BEL "SOC/LM32/cpu/store_operand_x_2" BEL
        "SOC/LM32/cpu/store_operand_x_1" BEL "SOC/LM32/cpu/store_operand_x_0"
        BEL "SOC/LM32/cpu/branch_predict_taken_m" BEL
        "SOC/LM32/cpu/branch_predict_taken_x" BEL
        "SOC/LM32/cpu/write_enable_w" BEL "SOC/LM32/cpu/write_idx_w_4" BEL
        "SOC/LM32/cpu/write_idx_w_3" BEL "SOC/LM32/cpu/write_idx_w_2" BEL
        "SOC/LM32/cpu/write_idx_w_1" BEL "SOC/LM32/cpu/write_idx_w_0" BEL
        "SOC/LM32/cpu/w_result_sel_load_w" BEL
        "SOC/LM32/cpu/w_result_sel_mul_w" BEL "SOC/LM32/cpu/write_idx_m_4" BEL
        "SOC/LM32/cpu/write_idx_m_3" BEL "SOC/LM32/cpu/write_idx_m_2" BEL
        "SOC/LM32/cpu/write_idx_m_1" BEL "SOC/LM32/cpu/write_idx_m_0" BEL
        "SOC/LM32/cpu/w_result_sel_mul_m" BEL
        "SOC/LM32/cpu/w_result_sel_load_m" BEL "SOC/LM32/cpu/load_m" BEL
        "SOC/LM32/cpu/store_m" BEL "SOC/LM32/cpu/branch_m" BEL
        "SOC/LM32/cpu/m_result_sel_shift_m" BEL
        "SOC/LM32/cpu/m_result_sel_compare_m" BEL
        "SOC/LM32/cpu/m_bypass_enable_m" BEL
        "SOC/LM32/cpu/data_bus_error_exception_m" BEL
        "SOC/LM32/cpu/operand_0_x_31" BEL "SOC/LM32/cpu/operand_0_x_30" BEL
        "SOC/LM32/cpu/operand_0_x_29" BEL "SOC/LM32/cpu/operand_0_x_28" BEL
        "SOC/LM32/cpu/operand_0_x_27" BEL "SOC/LM32/cpu/operand_0_x_26" BEL
        "SOC/LM32/cpu/operand_0_x_25" BEL "SOC/LM32/cpu/operand_0_x_24" BEL
        "SOC/LM32/cpu/operand_0_x_23" BEL "SOC/LM32/cpu/operand_0_x_22" BEL
        "SOC/LM32/cpu/operand_0_x_21" BEL "SOC/LM32/cpu/operand_0_x_20" BEL
        "SOC/LM32/cpu/operand_0_x_19" BEL "SOC/LM32/cpu/operand_0_x_18" BEL
        "SOC/LM32/cpu/operand_0_x_17" BEL "SOC/LM32/cpu/operand_0_x_16" BEL
        "SOC/LM32/cpu/operand_0_x_15" BEL "SOC/LM32/cpu/operand_0_x_14" BEL
        "SOC/LM32/cpu/operand_0_x_13" BEL "SOC/LM32/cpu/operand_0_x_12" BEL
        "SOC/LM32/cpu/operand_0_x_11" BEL "SOC/LM32/cpu/operand_0_x_10" BEL
        "SOC/LM32/cpu/operand_0_x_9" BEL "SOC/LM32/cpu/operand_0_x_8" BEL
        "SOC/LM32/cpu/operand_0_x_7" BEL "SOC/LM32/cpu/operand_0_x_6" BEL
        "SOC/LM32/cpu/operand_0_x_5" BEL "SOC/LM32/cpu/operand_0_x_4" BEL
        "SOC/LM32/cpu/operand_0_x_3" BEL "SOC/LM32/cpu/operand_0_x_2" BEL
        "SOC/LM32/cpu/operand_0_x_1" BEL "SOC/LM32/cpu/operand_0_x_0" BEL
        "SOC/LM32/cpu/branch_predict_m" BEL "SOC/LM32/cpu/csr_write_enable_x"
        BEL "SOC/LM32/cpu/scall_x" BEL "SOC/LM32/cpu/condition_x_2" BEL
        "SOC/LM32/cpu/condition_x_1" BEL "SOC/LM32/cpu/condition_x_0" BEL
        "SOC/LM32/cpu/eret_x" BEL "SOC/LM32/cpu/branch_x" BEL
        "SOC/LM32/cpu/logic_op_x_3" BEL "SOC/LM32/cpu/adder_op_x" BEL
        "SOC/LM32/cpu/load_x" BEL "SOC/LM32/cpu/csr_x_2" BEL
        "SOC/LM32/cpu/csr_x_1" BEL "SOC/LM32/cpu/csr_x_0" BEL
        "SOC/LM32/cpu/store_x" BEL "SOC/LM32/cpu/write_enable_x" BEL
        "SOC/LM32/cpu/m_bypass_enable_x" BEL "SOC/LM32/cpu/write_idx_x_4" BEL
        "SOC/LM32/cpu/write_idx_x_3" BEL "SOC/LM32/cpu/write_idx_x_2" BEL
        "SOC/LM32/cpu/write_idx_x_1" BEL "SOC/LM32/cpu/write_idx_x_0" BEL
        "SOC/LM32/cpu/w_result_sel_mul_x" BEL "SOC/LM32/cpu/x_bypass_enable_x"
        BEL "SOC/LM32/cpu/m_result_sel_shift_x" BEL
        "SOC/LM32/cpu/m_result_sel_compare_x" BEL
        "SOC/LM32/cpu/x_result_sel_sext_x" BEL
        "SOC/LM32/cpu/x_result_sel_mc_arith_x" BEL
        "SOC/LM32/cpu/x_result_sel_add_x" BEL
        "SOC/LM32/cpu/x_result_sel_csr_x" BEL "SOC/LM32/cpu/exception_w" BEL
        "SOC/LM32/cpu/memop_pc_w_31" BEL "SOC/LM32/cpu/memop_pc_w_30" BEL
        "SOC/LM32/cpu/memop_pc_w_29" BEL "SOC/LM32/cpu/memop_pc_w_28" BEL
        "SOC/LM32/cpu/memop_pc_w_27" BEL "SOC/LM32/cpu/memop_pc_w_26" BEL
        "SOC/LM32/cpu/memop_pc_w_25" BEL "SOC/LM32/cpu/memop_pc_w_24" BEL
        "SOC/LM32/cpu/memop_pc_w_23" BEL "SOC/LM32/cpu/memop_pc_w_22" BEL
        "SOC/LM32/cpu/memop_pc_w_21" BEL "SOC/LM32/cpu/memop_pc_w_20" BEL
        "SOC/LM32/cpu/memop_pc_w_19" BEL "SOC/LM32/cpu/memop_pc_w_18" BEL
        "SOC/LM32/cpu/memop_pc_w_17" BEL "SOC/LM32/cpu/memop_pc_w_16" BEL
        "SOC/LM32/cpu/memop_pc_w_15" BEL "SOC/LM32/cpu/memop_pc_w_14" BEL
        "SOC/LM32/cpu/memop_pc_w_13" BEL "SOC/LM32/cpu/memop_pc_w_12" BEL
        "SOC/LM32/cpu/memop_pc_w_11" BEL "SOC/LM32/cpu/memop_pc_w_10" BEL
        "SOC/LM32/cpu/memop_pc_w_9" BEL "SOC/LM32/cpu/memop_pc_w_8" BEL
        "SOC/LM32/cpu/memop_pc_w_7" BEL "SOC/LM32/cpu/memop_pc_w_6" BEL
        "SOC/LM32/cpu/memop_pc_w_5" BEL "SOC/LM32/cpu/memop_pc_w_4" BEL
        "SOC/LM32/cpu/memop_pc_w_3" BEL "SOC/LM32/cpu/memop_pc_w_2" BEL
        "SOC/LM32/cpu/exception_m" BEL "SOC/LM32/cpu/branch_predict_x" BEL
        "SOC/LM32/cpu/adder_op_x_n" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_31" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_30" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_29" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_28" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_27" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_26" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_25" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_24" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_23" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_22" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_21" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_20" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_19" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_18" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_17" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_16" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_15" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_14" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_13" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_12" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_11" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_10" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_9" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_8" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_7" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_6" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_5" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_4" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_3" BEL
        "SOC/LM32/cpu/instruction_unit/i_adr_o_2" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_31" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_30" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_29" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_28" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_27" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_26" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_25" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_24" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_23" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_22" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_21" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_20" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_19" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_18" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_17" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_16" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_15" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_14" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_13" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_12" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_11" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_10" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_9" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_8" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_7" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_6" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_5" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_4" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_3" BEL
        "SOC/LM32/cpu/instruction_unit/pc_f_2" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_31" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_30" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_29" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_28" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_27" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_26" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_25" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_24" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_23" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_22" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_21" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_20" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_19" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_18" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_17" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_16" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_15" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_14" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_13" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_12" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_11" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_10" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_9" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_8" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_7" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_6" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_5" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_4" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_3" BEL
        "SOC/LM32/cpu/instruction_unit/pc_m_2" BEL
        "SOC/LM32/cpu/instruction_unit/bus_error_d" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_31" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_30" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_29" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_28" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_27" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_26" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_25" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_24" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_23" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_22" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_21" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_20" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_19" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_18" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_17" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_16" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_15" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_14" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_13" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_12" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_11" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_10" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_9" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_8" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_7" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_6" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_5" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_4" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_3" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_2" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_1" BEL
        "SOC/LM32/cpu/instruction_unit/instruction_d_0" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_31" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_30" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_29" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_28" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_27" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_26" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_25" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_24" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_23" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_22" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_21" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_20" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_19" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_18" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_17" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_16" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_15" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_14" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_13" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_12" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_11" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_10" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_9" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_8" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_7" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_6" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_5" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_4" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_3" BEL
        "SOC/LM32/cpu/instruction_unit/pc_x_2" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_31" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_30" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_29" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_28" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_27" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_26" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_25" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_24" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_23" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_22" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_21" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_20" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_19" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_18" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_17" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_16" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_15" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_14" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_13" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_12" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_11" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_10" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_9" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_8" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_7" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_6" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_5" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_4" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_3" BEL
        "SOC/LM32/cpu/instruction_unit/pc_d_2" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_31" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_30" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_29" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_28" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_27" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_26" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_25" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_24" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_23" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_22" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_21" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_20" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_19" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_18" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_17" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_16" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_15" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_14" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_13" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_12" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_11" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_10" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_9" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_8" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_7" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_6" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_5" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_4" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_3" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_2" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_1" BEL
        "SOC/LM32/cpu/instruction_unit/wb_data_f_0" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_31" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_30" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_29" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_28" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_27" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_26" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_25" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_24" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_23" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_22" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_21" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_20" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_19" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_18" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_17" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_16" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_15" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_14" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_13" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_12" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_11" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_10" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_9" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_8" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_7" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_6" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_5" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_4" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_3" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_2" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_1" BEL
        "SOC/LM32/cpu/load_store_unit/d_dat_o_0" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_31" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_30" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_29" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_28" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_27" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_26" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_25" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_24" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_23" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_22" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_21" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_20" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_19" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_18" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_17" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_16" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_15" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_14" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_13" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_12" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_11" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_10" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_9" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_8" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_7" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_6" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_5" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_4" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_3" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_2" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_1" BEL
        "SOC/LM32/cpu/load_store_unit/store_data_m_0" BEL
        "SOC/LM32/cpu/load_store_unit/d_sel_o_3" BEL
        "SOC/LM32/cpu/load_store_unit/d_sel_o_2" BEL
        "SOC/LM32/cpu/load_store_unit/d_sel_o_1" BEL
        "SOC/LM32/cpu/load_store_unit/d_sel_o_0" BEL
        "SOC/LM32/cpu/load_store_unit/sign_extend_w" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_31" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_30" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_29" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_28" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_27" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_26" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_25" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_24" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_23" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_22" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_21" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_20" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_19" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_18" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_17" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_16" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_15" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_14" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_13" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_12" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_11" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_10" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_9" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_8" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_7" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_6" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_5" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_4" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_3" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_2" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_1" BEL
        "SOC/LM32/cpu/load_store_unit/data_w_0" BEL
        "SOC/LM32/cpu/load_store_unit/size_w_1" BEL
        "SOC/LM32/cpu/load_store_unit/size_w_0" BEL
        "SOC/LM32/cpu/load_store_unit/byte_enable_m_3" BEL
        "SOC/LM32/cpu/load_store_unit/byte_enable_m_2" BEL
        "SOC/LM32/cpu/load_store_unit/byte_enable_m_1" BEL
        "SOC/LM32/cpu/load_store_unit/byte_enable_m_0" BEL
        "SOC/LM32/cpu/load_store_unit/sign_extend_m" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_31" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_30" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_29" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_28" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_27" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_26" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_25" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_24" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_23" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_22" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_21" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_20" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_19" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_18" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_17" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_16" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_15" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_14" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_13" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_12" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_11" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_10" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_9" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_8" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_7" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_6" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_5" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_4" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_3" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_2" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_1" BEL
        "SOC/LM32/cpu/load_store_unit/wb_data_m_0" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_31" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_30" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_29" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_28" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_27" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_26" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_25" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_24" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_23" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_22" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_21" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_20" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_19" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_18" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_17" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_16" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_15" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_14" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_13" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_12" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_11" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_10" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_9" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_8" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_7" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_6" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_5" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_4" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_3" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_2" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_1" BEL
        "SOC/LM32/cpu/load_store_unit/d_adr_o_0" BEL
        "SOC/LM32/cpu/load_store_unit/size_m_1" BEL
        "SOC/LM32/cpu/load_store_unit/size_m_0" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_31" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_30" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_29" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_28" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_27" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_26" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_25" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_24" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_23" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_22" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_21" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_20" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_19" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_18" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_17" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_16" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_15" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_14" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_13" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_12" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_11" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_10" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_9" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_8" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_7" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_6" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_5" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_4" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_3" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_2" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_1" BEL
        "SOC/LM32/cpu/shifter/right_shift_result_0" BEL
        "SOC/LM32/cpu/shifter/direction_m" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_0" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_1" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_2" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_3" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_4" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_5" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_6" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_7" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_8" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_9" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_10" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_11" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_12" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_13" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_14" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_15" BEL
        "SOC/LM32/cpu/multiplier/Mmult_n00234_16" PIN
        "SOC/LM32/cpu/multiplier/Mmult_n00232_pins<92>" PIN
        "SOC/LM32/cpu/multiplier/Mmult_n0023_pins<110>" BEL
        "SOC/LM32/cpu/multiplier/result_31" BEL
        "SOC/LM32/cpu/multiplier/result_30" BEL
        "SOC/LM32/cpu/multiplier/result_29" BEL
        "SOC/LM32/cpu/multiplier/result_28" BEL
        "SOC/LM32/cpu/multiplier/result_27" BEL
        "SOC/LM32/cpu/multiplier/result_26" BEL
        "SOC/LM32/cpu/multiplier/result_25" BEL
        "SOC/LM32/cpu/multiplier/result_24" BEL
        "SOC/LM32/cpu/multiplier/result_23" BEL
        "SOC/LM32/cpu/multiplier/result_22" BEL
        "SOC/LM32/cpu/multiplier/result_21" BEL
        "SOC/LM32/cpu/multiplier/result_20" BEL
        "SOC/LM32/cpu/multiplier/result_19" BEL
        "SOC/LM32/cpu/multiplier/result_18" BEL
        "SOC/LM32/cpu/multiplier/result_17" BEL
        "SOC/LM32/cpu/multiplier/result_16" BEL
        "SOC/LM32/cpu/multiplier/result_15" BEL
        "SOC/LM32/cpu/multiplier/result_14" BEL
        "SOC/LM32/cpu/multiplier/result_13" BEL
        "SOC/LM32/cpu/multiplier/result_12" BEL
        "SOC/LM32/cpu/multiplier/result_11" BEL
        "SOC/LM32/cpu/multiplier/result_10" BEL
        "SOC/LM32/cpu/multiplier/result_9" BEL
        "SOC/LM32/cpu/multiplier/result_8" BEL
        "SOC/LM32/cpu/multiplier/result_7" BEL
        "SOC/LM32/cpu/multiplier/result_6" BEL
        "SOC/LM32/cpu/multiplier/result_5" BEL
        "SOC/LM32/cpu/multiplier/result_4" BEL
        "SOC/LM32/cpu/multiplier/result_3" BEL
        "SOC/LM32/cpu/multiplier/result_2" BEL
        "SOC/LM32/cpu/multiplier/result_1" BEL
        "SOC/LM32/cpu/multiplier/result_0" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_5" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_4" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_3" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_2" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_1" BEL
        "SOC/LM32/cpu/mc_arithmetic/cycles_0" BEL
        "SOC/LM32/cpu/mc_arithmetic/state_FSM_FFd1" BEL
        "SOC/LM32/cpu/mc_arithmetic/state_FSM_FFd2" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_31" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_30" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_29" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_28" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_27" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_26" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_25" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_24" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_23" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_22" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_21" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_20" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_19" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_18" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_17" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_16" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_15" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_14" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_13" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_12" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_11" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_10" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_9" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_8" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_7" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_6" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_5" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_4" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_3" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_2" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_1" BEL
        "SOC/LM32/cpu/mc_arithmetic/result_x_0" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_31" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_30" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_29" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_28" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_27" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_26" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_25" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_24" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_23" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_22" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_21" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_20" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_19" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_18" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_17" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_16" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_15" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_14" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_13" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_12" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_11" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_10" BEL "SOC/LM32/cpu/mc_arithmetic/p_9"
        BEL "SOC/LM32/cpu/mc_arithmetic/p_8" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_7" BEL "SOC/LM32/cpu/mc_arithmetic/p_6"
        BEL "SOC/LM32/cpu/mc_arithmetic/p_5" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_4" BEL "SOC/LM32/cpu/mc_arithmetic/p_3"
        BEL "SOC/LM32/cpu/mc_arithmetic/p_2" BEL
        "SOC/LM32/cpu/mc_arithmetic/p_1" BEL "SOC/LM32/cpu/mc_arithmetic/p_0"
        BEL "SOC/LM32/cpu/mc_arithmetic/divide_by_zero_x" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_31" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_30" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_29" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_28" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_27" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_26" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_25" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_24" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_23" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_22" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_21" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_20" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_19" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_18" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_17" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_16" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_15" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_14" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_13" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_12" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_11" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_10" BEL "SOC/LM32/cpu/mc_arithmetic/a_9"
        BEL "SOC/LM32/cpu/mc_arithmetic/a_8" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_7" BEL "SOC/LM32/cpu/mc_arithmetic/a_6"
        BEL "SOC/LM32/cpu/mc_arithmetic/a_5" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_4" BEL "SOC/LM32/cpu/mc_arithmetic/a_3"
        BEL "SOC/LM32/cpu/mc_arithmetic/a_2" BEL
        "SOC/LM32/cpu/mc_arithmetic/a_1" BEL "SOC/LM32/cpu/mc_arithmetic/a_0"
        BEL "SOC/LM32/cpu/mc_arithmetic/b_31" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_30" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_29" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_28" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_27" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_26" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_25" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_24" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_23" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_22" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_21" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_20" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_19" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_18" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_17" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_16" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_15" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_14" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_13" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_12" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_11" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_10" BEL "SOC/LM32/cpu/mc_arithmetic/b_9"
        BEL "SOC/LM32/cpu/mc_arithmetic/b_8" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_7" BEL "SOC/LM32/cpu/mc_arithmetic/b_6"
        BEL "SOC/LM32/cpu/mc_arithmetic/b_5" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_4" BEL "SOC/LM32/cpu/mc_arithmetic/b_3"
        BEL "SOC/LM32/cpu/mc_arithmetic/b_2" BEL
        "SOC/LM32/cpu/mc_arithmetic/b_1" BEL "SOC/LM32/cpu/mc_arithmetic/b_0"
        BEL "SOC/LM32/cpu/interrupt/im_31" BEL "SOC/LM32/cpu/interrupt/im_30"
        BEL "SOC/LM32/cpu/interrupt/im_29" BEL "SOC/LM32/cpu/interrupt/im_28"
        BEL "SOC/LM32/cpu/interrupt/im_27" BEL "SOC/LM32/cpu/interrupt/im_26"
        BEL "SOC/LM32/cpu/interrupt/im_25" BEL "SOC/LM32/cpu/interrupt/im_24"
        BEL "SOC/LM32/cpu/interrupt/im_23" BEL "SOC/LM32/cpu/interrupt/im_22"
        BEL "SOC/LM32/cpu/interrupt/im_21" BEL "SOC/LM32/cpu/interrupt/im_20"
        BEL "SOC/LM32/cpu/interrupt/im_19" BEL "SOC/LM32/cpu/interrupt/im_18"
        BEL "SOC/LM32/cpu/interrupt/im_17" BEL "SOC/LM32/cpu/interrupt/im_16"
        BEL "SOC/LM32/cpu/interrupt/im_15" BEL "SOC/LM32/cpu/interrupt/im_14"
        BEL "SOC/LM32/cpu/interrupt/im_13" BEL "SOC/LM32/cpu/interrupt/im_12"
        BEL "SOC/LM32/cpu/interrupt/im_11" BEL "SOC/LM32/cpu/interrupt/im_10"
        BEL "SOC/LM32/cpu/interrupt/im_9" BEL "SOC/LM32/cpu/interrupt/im_8"
        BEL "SOC/LM32/cpu/interrupt/im_7" BEL "SOC/LM32/cpu/interrupt/im_6"
        BEL "SOC/LM32/cpu/interrupt/im_5" BEL "SOC/LM32/cpu/interrupt/im_4"
        BEL "SOC/LM32/cpu/interrupt/im_3" BEL "SOC/LM32/cpu/interrupt/im_2"
        BEL "SOC/LM32/cpu/interrupt/im_1" BEL "SOC/LM32/cpu/interrupt/im_0"
        BEL "SOC/ebr/state_FSM_FFd2" BEL "SOC/ebr/state_FSM_FFd3" BEL
        "SOC/ebr/pmi_address_11" BEL "SOC/ebr/pmi_address_10" BEL
        "SOC/ebr/pmi_address_9" BEL "SOC/ebr/pmi_address_8" BEL
        "SOC/ebr/pmi_address_7" BEL "SOC/ebr/pmi_address_6" BEL
        "SOC/ebr/pmi_address_5" BEL "SOC/ebr/pmi_address_4" BEL
        "SOC/ebr/pmi_address_3" BEL "SOC/ebr/pmi_address_2" BEL
        "SOC/ebr/pmi_address_1" BEL "SOC/ebr/pmi_address_0" BEL
        "SOC/ebr/EBR_ACK_O" BEL "SOC/ebr/write_data_d_31" BEL
        "SOC/ebr/write_data_d_30" BEL "SOC/ebr/write_data_d_29" BEL
        "SOC/ebr/write_data_d_28" BEL "SOC/ebr/write_data_d_27" BEL
        "SOC/ebr/write_data_d_26" BEL "SOC/ebr/write_data_d_25" BEL
        "SOC/ebr/write_data_d_24" BEL "SOC/ebr/write_data_d_23" BEL
        "SOC/ebr/write_data_d_22" BEL "SOC/ebr/write_data_d_21" BEL
        "SOC/ebr/write_data_d_20" BEL "SOC/ebr/write_data_d_19" BEL
        "SOC/ebr/write_data_d_18" BEL "SOC/ebr/write_data_d_17" BEL
        "SOC/ebr/write_data_d_16" BEL "SOC/ebr/write_data_d_15" BEL
        "SOC/ebr/write_data_d_14" BEL "SOC/ebr/write_data_d_13" BEL
        "SOC/ebr/write_data_d_12" BEL "SOC/ebr/write_data_d_11" BEL
        "SOC/ebr/write_data_d_10" BEL "SOC/ebr/write_data_d_9" BEL
        "SOC/ebr/write_data_d_8" BEL "SOC/ebr/write_data_d_7" BEL
        "SOC/ebr/write_data_d_6" BEL "SOC/ebr/write_data_d_5" BEL
        "SOC/ebr/write_data_d_4" BEL "SOC/ebr/write_data_d_3" BEL
        "SOC/ebr/write_data_d_2" BEL "SOC/ebr/write_data_d_1" BEL
        "SOC/ebr/write_data_d_0" BEL "SOC/ebr/EBR_SEL_I_d_3" BEL
        "SOC/ebr/EBR_SEL_I_d_2" BEL "SOC/ebr/EBR_SEL_I_d_1" BEL
        "SOC/ebr/EBR_SEL_I_d_0" BEL "SOC/ebr/EBR_DAT_I_d_31" BEL
        "SOC/ebr/EBR_DAT_I_d_30" BEL "SOC/ebr/EBR_DAT_I_d_29" BEL
        "SOC/ebr/EBR_DAT_I_d_28" BEL "SOC/ebr/EBR_DAT_I_d_27" BEL
        "SOC/ebr/EBR_DAT_I_d_26" BEL "SOC/ebr/EBR_DAT_I_d_25" BEL
        "SOC/ebr/EBR_DAT_I_d_24" BEL "SOC/ebr/EBR_DAT_I_d_23" BEL
        "SOC/ebr/EBR_DAT_I_d_22" BEL "SOC/ebr/EBR_DAT_I_d_21" BEL
        "SOC/ebr/EBR_DAT_I_d_20" BEL "SOC/ebr/EBR_DAT_I_d_19" BEL
        "SOC/ebr/EBR_DAT_I_d_18" BEL "SOC/ebr/EBR_DAT_I_d_17" BEL
        "SOC/ebr/EBR_DAT_I_d_16" BEL "SOC/ebr/EBR_DAT_I_d_15" BEL
        "SOC/ebr/EBR_DAT_I_d_14" BEL "SOC/ebr/EBR_DAT_I_d_13" BEL
        "SOC/ebr/EBR_DAT_I_d_12" BEL "SOC/ebr/EBR_DAT_I_d_11" BEL
        "SOC/ebr/EBR_DAT_I_d_10" BEL "SOC/ebr/EBR_DAT_I_d_9" BEL
        "SOC/ebr/EBR_DAT_I_d_8" BEL "SOC/ebr/EBR_DAT_I_d_7" BEL
        "SOC/ebr/EBR_DAT_I_d_6" BEL "SOC/ebr/EBR_DAT_I_d_5" BEL
        "SOC/ebr/EBR_DAT_I_d_4" BEL "SOC/ebr/EBR_DAT_I_d_3" BEL
        "SOC/ebr/EBR_DAT_I_d_2" BEL "SOC/ebr/EBR_DAT_I_d_1" BEL
        "SOC/ebr/EBR_DAT_I_d_0" BEL "SOC/gpio/PIO_DATA_7" BEL
        "SOC/gpio/PIO_DATA_6" BEL "SOC/gpio/PIO_DATA_5" BEL
        "SOC/gpio/PIO_DATA_4" BEL "SOC/gpio/PIO_DATA_3" BEL
        "SOC/gpio/PIO_DATA_2" BEL "SOC/gpio/PIO_DATA_1" BEL
        "SOC/gpio/PIO_DATA_0" BEL "SOC/gpio/GPIO_ACK_O" BEL
        "SOC/LM32/cpu/write_enable_m" BEL "SOC/LM32/cpu/data_bus_error_seen"
        BEL "SOC/LM32/cpu/valid_f" BEL
        "SOC/LM32/cpu/instruction_unit/bus_error_f" BEL
        "SOC/LM32/cpu/instruction_unit/i_cyc_o" BEL
        "SOC/LM32/cpu/load_store_unit/stall_wb_load" BEL
        "SOC/LM32/cpu/load_store_unit/d_we_o" BEL
        "SOC/LM32/cpu/load_store_unit/d_stb_o" BEL
        "SOC/LM32/cpu/load_store_unit/wb_select_m" BEL
        "SOC/LM32/cpu/load_store_unit/wb_load_complete" BEL
        "SOC/LM32/cpu/interrupt/eie" BEL "SOC/LM32/cpu/interrupt/ie" BEL
        "SOC/LM32/cpu/valid_w" BEL "SOC/ebr/state_FSM_FFd1" BEL
        "SOC/ebr/raw_hazard" BEL "SOC/LM32/cpu/valid_d" BEL
        "SOC/LM32/cpu/valid_x" BEL "SOC/LM32/cpu/valid_m" BEL "clk_BUFGP/BUFG"
        PIN
        "SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "SOC/ebr/memory/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN "SOC/LM32/cpu/multiplier/Mmult_n00231_pins<110>";
ts_clk = PERIOD TIMEGRP "clk" 20.833 ns HIGH 50%;
SCHEMATIC END;

